@import "reset";

// --------------------------------------- login -----------------------------------------
.login-ds{
    background-image: url("../images/bg2.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: table-cell;
    vertical-align: middle;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    position: relative;
    @media only screen and (max-width: 1024px){
        &{
            padding: 10px;
            height: 100vh;
            width: 100vw;
        }
    }
    .login-box{
        max-width: 446.78px;
        height: auto;
        margin: auto;

        &__logo{
            img{
                margin: auto;
                display: block;
            }

            .main-logo{
                max-width: 129px;
                height: 129px;
                background: transparent;
            }

            .sub-logo{
                padding-top: 0px;
            }
        }
    }

    .form-box{
        background: #FFFFFF;
        border-radius: 20px;
        overflow: hidden;
        margin-top: 30px;
        .main-title{
            font-size: 22px;
            font-weight: bold;
            text-transform: uppercase;
            color: #033489;
            text-align: center;
            padding-top: 30px;
        }

        .login-txt{
            padding: 30px 50px 25px 50px;
            label{
                font-size: 16px;
                font-weight: bold;
                color: #033489;
            }

            .input-group{
                border-bottom: 1px solid #B0B0B0;
                input{
                    border: none;
                    outline: none;
                    box-shadow: none;
                    padding: 0;

                    &:focus, &:active {
                        outline: none;
                    }
                }

                .input-group-append{
                    span{
                        border: none;
                        background: none;
                        padding: 0;
                        &::before{
                            background-repeat: no-repeat;
                            background-position: center;
                        }
                        
                        &.user-txt{
                            &::before{
                                content:"";
                                background-image: url("../images/user_ic.png");
                                width: 22px;
                                height: 18px;
                                display: inline-block;
                            }
                        }

                        &.pass-txt{
                            &::before{
                                content:"";
                                background-image: url("../images/pass_ic.png");
                                width: 22px;
                                height: 18px;
                                display: inline-block;
                            }
                        }
                    }
                }
            }
        }
    }

    .submit-box{
        background: #22AAE0;
        padding: 18px 0px;
        text-align: center;
        button{
            width: 160px;
            height: 40px;
            background: #003173;
            color: #fff;
            font-size: 16px;
            font-weight: bold;
            text-align: center;
            border-radius: 9px;
            border: none;
            outline: none;
            position: relative;
            transition: .3s ease-out;

            &:hover{
                background: #1492E6;
            }
            
            &::after{
                content:"";
                background-image: url("../images/ar.png");
                background-repeat: no-repeat;
                position: absolute;
                width: 17px;
                height: 13px;
                right: 10px;
                top: 50%;
                transform: translateY(-50%);
            }
            
        }
    }

    .info-login{
        max-width: 446.78px;
        height: auto;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        padding-top: 20px;
        justify-content: space-between;
        h4{
            font-size: 14px;
            color: #fff;
            font-weight: bold;
            display: inline-block;
            position: relative;
            text-transform: uppercase;
        }

        .media{
            &:last-child{
                margin-left: 8px;

                @media only screen and (max-width: 768px){
                    &{
                        margin-left: unset;
                    }
                }
            }
        }
    }

    .submit-box-two{
        position: absolute;
        left: 64%;
        bottom: 19%;
        @media only screen and (max-width: 1300px){
            &{
                display: none;
            }
        }
        button{
            width: 160px;
            height: 40px;
            background: #1492E6;
            color: #fff;
            font-size: 16px;
            font-weight: bold;
            text-align: center;
            border-radius: 9px;
            border: none;
            outline: none;
            position: relative;
            
            &::after{
                content:"";
                background-image: url("../images/ar.png");
                background-repeat: no-repeat;
                position: absolute;
                width: 17px;
                height: 13px;
                right: 10px;
                top: 50%;
                transform: translateY(-50%);
            }
            
        }
    }
}

// ----------------------------------------- custom container -------------------------------

.container-fluid{
    &.add-theme{
        padding-right: unset;
        
        @media only screen and (max-width: 1024px){
            &{
                padding-right: 15px;
            }
        }

    }
}

//----------------------------------------custom modal-------------------------------------

.modal-dialog{
    &.cus-model{
        max-width: 1365px;

        .modal-content{
            overflow: hidden;
            border: none;
            -webkit-box-shadow: 0px 0px 5px 1px rgba(121,121,121,0.5); 
            box-shadow: 0px 0px 5px 1px rgba(121,121,121,0.5);
        }

        .modal-body{
            padding: 0;
            .title-model-in{
                background: #EFEEEE;
                text-align: center; 
                padding: 14px 0px;

                h4{
                    font-size: 18px;
                    color: #333333;
                    font-weight: bold;
                }
            }

            table {
                tr{
                    td{
                        padding: 7px 4px;
                    }
                }
            }

            .content-info .calculation{
                padding: 2.5px 18px 2.5px 20px;
            }
        }

        .modal-footer{
            background: #EFEEEE;
            text-align: center;
            justify-content: center;
            padding: 13px 0px;
            button{
                background: #0E5DBA;
                border: none;
                outline: none;
                border-radius: 5px;
                color: #fff;
                font-size: 16px;
                font-weight: bold;
                display: inline-flex;
                align-items: center;
                width: max-content;
                height: 27px;
                padding: 4px 10px;
                margin: auto;
                transition: .3s ease-out;

                &:hover{
                    background: #1492E6;
                }
    
                @media only screen and (max-width: 688px){
                    &{
                        flex: 0 0 100%;
                        margin-top: 10px;
    
                        &:first-child{
                            margin-top: unset;
                        }
                    }
                }
    
                img{
                    padding-right: 4px;
                }
            }
        }
    }

    &.dk-model{
        .modal-body{
            .ques-con-box{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding: 20px 0px;

                h4{
                    font-size: 14px;
                    font-weight: bold;
                    padding-top: 20px;
                }
            }
        }

        .modal-footer{
            background: #EFEEEE;
            padding: 10px 0px;
            display: flex;
            justify-content: center;
            align-items: center;
            .btn-action-cl{
                background: #0E5DBA;
                border: none;
                outline: none;
                border-radius: 5px;
                color: #fff;
                font-size: 16px;
                font-weight: bold;
                display: inline-flex;
                align-items: center;
                width: max-content;
                height: 30px;
                padding: 0px 12px;
                margin-right: 5px;
                transition: .3s ease-out;

                span{
                    padding-bottom: unset;
                }

                &:first-child{
                    background: #0E5DBA;
                    &:hover{
                        background: #1492E6;
                    }
                }

                &:last-child{
                    background: #707070;
                    &:hover{
                        background: #0E5DBA;
                    }
                }

                &:hover{
                    background: #1492E6;
                }

                @media only screen and (max-width: 688px){
                    &{
                        flex: 0 0 100%;
                        margin-top: 10px;

                        &:first-child{
                            margin-top: unset;
                        }
                    }
                }

                img{
                    padding-right: 8px;
                    padding-bottom: 3px;
                }

                &:last-child{
                    margin-right: unset;
                }
            }
        }
    }
}

// ------------------------------------------ custom table ------------------------------------
.content-info {
    position: relative;
    padding: 0px 21px 30px 11px;

    .content-new-title{
        padding: 15px 0px;
        h4{
            font-size: 16px;
            font-weight: bold;
            color: #333333;
        }
    }

    .content-info-title{
        padding-bottom: 10px;
        text-align: center;
        h4{
            font-size: 18px;
            font-weight: bold;
            color: #333333;
        }
    }

    table {
        width: 100%;
        background: #fff;

        

        &.table-hover tbody tr:hover{
            background: #F6F9FB;
        }

        &.result-point{
            tr{
                td{
                    font-size: 14px;
                    padding: 6px 4px 6px 4px;
                    a{
                        color: #003177;
                    }
                    &.number{
                        width: 51px;
                        font-size: 16px;
                        vertical-align: middle;
                        padding: unset;
                    }

                    &.code-kt{
                        color: #003173;
                        width: 125px;
                    }

                    &.name-kt{
                        width: 460px;
                    }

                    &.agencies-kt{
                        width: 225px;
                    }

                    &.plan-kt{
                        width: 128px;
                    }

                    &.field-kt{
                        width: 240px;
                    }

                    &.clue-kt{
                        width: 235px;
                    }

                    &.status-kt{
                        width: 100px;
                        white-space: nowrap;
                        span{
                            position: relative;
                            display: inline-block;
                            padding-left: 15px;
                            &::before{
                                content: "";
                                width: 10px;
                                height: 10px;
                                border-radius: 100%;
                                top: 50%;
                                transform: translateY(-50%);
                                left: 0;
                                background: transparent;
                                position: absolute;
                            }
                            &.cancel{
                                &::before{
                                    background: #E38F3F;
                                }
                            }

                            &.additional{
                                &::before{
                                    background: #09CAD6;
                                }
                            }

                            &.input{
                                &::before{
                                    background: #6955AA;
                                }
                            }

                            &.approved{
                                &::before{
                                    background: #2483C5;
                                }
                            }
                        }
                    }

                    &.nature-kt{
                        width: 145px;
                        white-space: nowrap;
                    }

                    &.number-s{
                        width: 46px;
                        font-size: 16px;
                        vertical-align: middle;
                        padding: unset;
                    }

                    &.code-da{
                        width: 464px;
                    }

                    &.name-da{
                        width: 400px;
                    }

                    &.role-da{
                        width: 355px;
                    }

                    &.classify-da{
                        width: 295px;
                    }

                    &.clue-da{
                        width: 300px;
                    }

                    &.number-yk{
                        width: 45px;
                        font-size: 16px;
                        vertical-align: middle;
                        padding: unset;
                    }

                    &.code-yk{
                        width: 580px;
                    }

                    &.name-yk{
                        width: 460px;
                    }

                    &.day-yk{
                        width: 125px;
                    }

                    &.text-yk{
                        width: 235px;
                    }

                    &.file-yk{
                        width: 215px;
                    }

                    &.idea-yk{
                        width: 130px;
                        vertical-align: middle;
                        button{
                            border: none;
                            outline: none;
                            background: transparent;
                            width: max-content;
                            padding: unset;
                            margin: unset;
                            position: relative;
                            display: inline-block;

                            &:hover{
                                img{
                                    &:first-child{
                                        opacity: 0;
                                        visibility: hidden;
                                        z-index: 0;
                                    }

                                    &:last-child{
                                        opacity: 1;
                                        visibility: visible;
                                        z-index: 2;
                                    }
                                }
                            }

                            img{
                                position: absolute;
                                top: 50%;
                                left: 50%;
                                transform: translate(-50%, -70%);
                                z-index: 5;
                                display: block;
                                width: 28px;
                                height: 28px;
                                max-width: 30px;
                                transition: .3s ease-out;
                                &:first-child{
                                    opacity: 1;
                                    visibility: visible;
                                    z-index: 2;
                                }

                                &:last-child{
                                    opacity: 0;
                                    visibility: hidden;
                                    z-index: 0;
                                }
                            }
                        }
                    }

                    &.number-md{
                        width: 41px;
                        font-size: 16px;
                        vertical-align: middle;
                        padding: unset;
                    }

                    &.code-md{
                        width: 400px;
                    }

                    &.name-md{
                        width: 220px;
                    }

                    &.job-md{
                        width: 250px;
                    }

                    &.day-md{
                        width: 120px;
                    }

                    &.content-md{
                        width: 170px;
                    }

                    &.file-md{
                        width: 135px;
                    }

                    &.number-nd{
                        width: 42px;
                        font-size: 16px;
                        vertical-align: middle;
                        padding: unset;
                    }

                    &.code-nd{
                        width: 130px;
                        color: #003173;
                    }

                    &.name-nd{
                        width: 170px;
                    }

                    &.room-nd{
                        width: 115px;
                    }

                    &.user-nd{
                        width: 730px;
                    }

                    &.status-nd{
                        width: 155px;
                    }

                    &.status-lock{
                        width: 126px;
                    }

                    &.stop-nd{
                        width: 126px;
                        vertical-align: middle;
                        button{
                            border: none;
                            outline: none;
                            background: transparent;
                            width: max-content;
                            padding: unset;
                            margin: unset;
                            position: relative;
                            display: inline-block;

                            &:hover{
                                img{
                                    &:first-child{
                                        opacity: 0;
                                        visibility: hidden;
                                        z-index: 0;
                                    }

                                    &:last-child{
                                        opacity: 1;
                                        visibility: visible;
                                        z-index: 2;
                                    }
                                }
                            }

                            img{
                                position: absolute;
                                top: 50%;
                                left: 50%;
                                transform: translate(-50%, -70%);
                                z-index: 5;
                                display: block;
                                width: 28px;
                                height: 28px;
                                max-width: 30px;
                                transition: .3s ease-out;
                                &:first-child{
                                    opacity: 1;
                                    visibility: visible;
                                    z-index: 2;
                                }

                                &:last-child{
                                    opacity: 0;
                                    visibility: hidden;
                                    z-index: 0;
                                }
                            }
                        }
                    }

                    &.unlock-nd{
                        width: 100px;
                    }

                    &.nature-nd{
                        width: 112px;
                    }

                    &.number-pk{
                        width: 42px;
                        vertical-align: middle;
                        font-size: 16px;
                    }

                    &.group-pk{
                        width: 710px;
                    }

                    &.role-pk{
                        width: 850px;
                    }

                    &.status-pk{    
                        width: 200px;
                    }
                }
            }
        }

        tr{
            td{
                border: 1px solid #dedede
            }
        }

        thead{
            tr{
                th{
                    border: 1px solid #dedede;
                    color: #333;
                    vertical-align: middle;
                    background: #D6E3F2;
                    font-size: 14px;
                    padding: 9px 7px;
                    white-space: nowrap;

                    span{
                        color: #F32A2A;
                    }
                }
            }
        }
    }

    .calculation{
        display: flex;
        flex-wrap: wrap;
        background: #EFEEEE;
        padding: 5px 18px 5px 20px;


        .info-cal{
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            .sum{
                margin-right: 15px;
            }

            .detail{
                display: flex;
                align-items: center;
                select{
                    width: 54px;
                    height: 26px;
                    border: 1px solid #DEDEDE;
                    background: #fff;
                    padding-left: 7px;
                    margin-left: 7px;
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    background-image: url('../images/dr.svg');
                    background-position: right .45em top 50%;
                    background-size: 10px 10px;
                    background-repeat: no-repeat;
                    padding-right: 1.4em;
                    border-radius: 0;
                }
            }
        }
        h5{
            font-size: 14px;
        }

        .pages{
            display: flex;
            align-items: center;
            
            ul{
                display: flex;
                align-items: center;
                padding-right: 24px;
                li{
                    margin-right: 40px;

                    &:last-child{
                        margin-right: unset;
                        a{
                            &::after{
                                content:"...";
                            }
                        }
                    }
                    a{
                        font-size: 16px;
                    }

                    &.active{
                        a{
                            color: #2386EA;
                        }
                    }
                }
            }


            .switch{
                display: flex;
                align-items: center;

                button{
                    border: none;
                    outline: none;
                    background: transparent;
                    width: max-content;
                    padding: unset;
                    margin: unset;
                    position: relative;
                    display: inline-block;
                    border-radius: 100%;
                    padding: 0;
                    width: 24px;
                    height: 24px;
                    margin: 7px 5px 0px 5px;

                    &:hover{
                        img{
                            &:first-child{
                                opacity: 0;
                                visibility: hidden;
                                z-index: 0;
                            }

                            &:last-child{
                                opacity: 1;
                                visibility: visible;
                                z-index: 2;
                            }
                        }
                    }

                    img{
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -70%);
                        z-index: 5;
                        display: block;
                        transition: .3s ease-out;
                        width: 24px;
                        height: 24px;
                        &:first-child{
                            opacity: 1;
                            visibility: visible;
                            z-index: 2;
                        }

                        &:last-child{
                            opacity: 0;
                            visibility: hidden;
                            z-index: 0;
                        }
                    }
                }
            }

        }
        
    }
    
}

// ---------------------------------------- home -------------------------------------------

.header{
    width: 100%;
    height: 75px;
    background-image: url("../images/BG_banner.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;

    .head-bars{
        display: none;
        button{
            border: none;
            outline: none;
            background: none;
            font-size: 20px;
            .fa{
                color: #FFFFFF;
            }
        }
        @media only screen and (max-width: 1089px){
            &{
                display: block;
            }
        }
    }

    .logo{
        max-width: 355px;
        height: auto;

        @media only screen and (max-width: 886px){
            &{
                max-width: 260px;
            }
        }
        img{
            vertical-align: middle;
        }
    }

    .media{
        .media-body{
            text-align: right;
            @media only screen and (max-width: 1089px){
                &{
                    display: none;
                }
            }
            h5{
                font-size: 14px;
                color: #fff;
                text-transform: uppercase;
                font-weight: bold;
            }

            span{
                font-size: 14px;
                color: #fff;
            }
        }
    }
}

.main-content{
    display: flex;
    overflow: hidden;
    .nav-bar{
        width: 70px;
        height: auto;
        background: #EFEEEE;
        -webkit-box-shadow: 0px 0px 3px 1px rgba(207,207,207,0.34); 
        box-shadow: 0px 0px 3px 1px rgba(207,207,207,0.34);
        border-right: 1px solid #CFCFCF;
        position: relative;
        transition: .3s ease-out;

        @media only screen and (max-width: 1089px){
            &{
                position: fixed;
                top: 0;
                left: -260px;
                height: 100% !important;
                z-index: 999;
            }
        }

        &.active_nav{
            width: 260px;

            @media only screen and (max-width: 1089px){
                &{
                    left: 0;
                }
            }

            ul{
                overflow-y: scroll;
                height: 758px;
                &::-webkit-scrollbar {
                    width: 5px;
                    background-color: #EFEEEE;
                } 

                &::-webkit-scrollbar-thumb {
                    background-color: #b8b8b8;
                    border-radius: 5px;
                }
                @media only screen and (max-width: 1089px){
                    &{
                        overflow-y: scroll;
                    }
                }
                li{
                    text-align: left;

                    &:hover{
                        div{
                            display: none;
                        }
                    }

                    a{
                        display: flex;
                        align-items: center;
                        width: 90%;
                        padding: 3px 0px 3px 10px;
                        span{
                            display: block;
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis; 
                        }
                    }

                    .btn-drop{
                        display: block;
                        
                    }

                    .drop-child{
                        display: block;
                        background: #fff;
                    }
                }
            }
        }

        ul{
            display: flex;
            flex-direction: column;
            li{
                border-bottom: 1px solid #E3E3E3;
                transition: .3s ease-out;
                text-align: center;
                position: relative;


                &.active-bg{
                    background: #fff;
                }

                &::before{
                    content: "";
                    position: absolute;
                    height: 100%;
                    width: 5px;
                    background: #003173;
                    opacity: 0;
                    visibility: hidden;
                    transition: .3s ease-out;
                    top: 0;
                    left: 0;
                }

                &:hover{
                    background: #fff;

                    &::before{
                        opacity: 1;
                        visibility: visible;
                    }
                    
                    div{
                        display: inline-flex;
                        align-items: center;
                    }
                }


                a{
                    width: 93%;
                    padding: 3px 0px;
                    display: block;

                    span{
                        display: none;
                        font-size: 14px;
                        color: #003173;
                        font-weight: bold;
                        padding-left: 3px;
                    }

                    div{
                        position: absolute;
                        animation-duration: 0.34s;
                        margin-left: 15px;
                        text-align: left;
                        width: 300px;
                        height: 100%;
                        display: none;
                        z-index: 7;
                        background: #fff;
                        -webkit-box-shadow: -1px 0px 6px 0px rgba(224, 224, 224, 0.76);
                        box-shadow: -1px 0px 6px 0px rgba(224, 224, 224, 0.76);
                        border-radius: 0px 23px 23px 0px;
                        padding-left: 15px;
                        font-size: 16px;
                        font-weight: bold;
                        color: #003173;
                        top: 0;
                    }
                }

                .btn-drop{
                    display: none;
                    position: absolute;                       
                    top: 9.5px;
                    right: 3px;
                    cursor: pointer;
                    transition: .2s;
                    width: 20px;
                    text-align: center;

                    &::after{
                        content:"\f105";
                        font-family: "fontawesome";
                    }

                    &:hover{
                       color: #D06D80;
                    }

                    &.active{
                        transform: rotateZ(90deg);
                    }
                }

                .drop-child{
                    height: 0;
                    overflow: hidden;
                    opacity: 0;
                    visibility: hidden;
                    transition: .4s ease-out;
                    display: none;
                    border-top: 1px solid #E3E3E3;
                    &.show-drop{
                        height: auto;
                        opacity: 1;
                        visibility: visible;
                        transition: .4s ease-out;
                        padding: 3px 0px 3px 5px;

                        li{
                            padding: 10px 0px;
                        }
                    }
                    li{
                        border-bottom: unset;
                        padding: 0px;

                        &::before{
                            display: none;
                        }

                        &:hover{
                            background: #D6E3F2;
                        }
                        a{
                            font-size: 14px;
                            text-transform: capitalize;
                            color: #333;
                        }
                    }
                }
                
            }
        }

        .bars-mn{
            position: fixed;
            left: 14px;
            bottom: 32px;
            transition: .3s ease-out;

            @media only screen and (min-width: 1800px){
                &{
                    bottom: 57px;
                }
            }

            &.active_bar{
                left: 190px;
            }

            &.stick-fix{
                bottom: 40px;
            }

            @media only screen and (max-width: 1089px){
                &{
                    display: none;
                }
            }
            button{
                border: none;
                outline: none;
                background: transparent;
            }
        }

        .close-nav-res{
            position: absolute;
            top: 0;
            right: -41px;
            display: none;

            @media only screen and (max-width: 1089px){
                &{
                    display: block;
                }
            }

            button{
                width: 40px;
                height: 40px;
                background: #0E5DBA;
                color: #fff;
                border: none;
                outline: none;
            }
        }

        
    }

    .main-chart{
        width: 100%;
        display: flex;
        flex-wrap: wrap;

        .col-12:nth-child(1){
            .home-chart-box{
                height: 415px;
                @media only screen and (max-width: 1090px){
                    &{
                        height: auto;
                    }
                }
            }
        }

        .col-12:nth-child(2){
            .home-chart-box{
                height: 415px;
                @media only screen and (max-width: 1090px){
                    &{
                        height: auto;
                    }
                }
            }
        }

        @media only screen and (max-width: 2000px){
            padding: 50px;
        }

        @media only screen and (max-width: 1600px){
            padding: 15px;
        }

        @media only screen and (max-width: 1090px){
            &{
                padding: 20px;
            }
        }

        @media only screen and (max-width: 668px){
            &{
                padding: unset;
            }
        }
    }

    .home-chart-box{
        -webkit-box-shadow: 0px 0px 15px 1px rgba(229,229,229,0.73); 
        box-shadow: 0px 0px 15px 1px rgba(229,229,229,0.73);
        margin-bottom: 30px;

        .row{
            .has-pd{
                padding: 20px 0px;
            }

            .col-lg-7{
                padding-bottom: 42px;
                padding-top: 30px;
            }
        }

        .title-chart{
            background: #D6E3F2;
            padding: 15px 0px 15px 25px;
            h4{
                font-size: 16px;
                font-weight: bold;
                color: #333333;
            }
        }

        .first-pie{
            width: 275px;
            height: 275px;
            margin: auto;
            position: relative;

            @media only screen and (max-width: 668px){
                &{
                    width: 250px;
                    height: 250px;
                }
            }

            canvas{
                margin: 20px 0px;
            }

            .count-bg-pie{
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                text-align: center;
                z-index: -5;
                span{
                    font-size: 20px;
                    color: #333;
                    font-weight: bold;
                }

                h5{
                    font-size: 30px;
                    font-weight: bold;
                    color: #164396;
                }
            }
        }

        .second-pie{
        
            @media only screen and (max-width: 1090px){
                &{
                    height: auto;
                }
            }

            canvas{
                padding: 20px 47px;
                height: 333px !important;
                @media only screen and (max-width: 1090px){
                    &{
                        padding: 20px 10px;
                        height: auto;
                    }
                    
                }
            }
        }
        
        .content-progress{
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            background: #F9F9F9;
            padding: 40px 20px;

            &.has-pd-bt{
                padding-bottom: 75px;
            }

            .total-sus{
                flex: 0 0 34%;
                text-align: center;
           
                &.title-bg{
                    flex: 0 0 50%;
                    text-align: left;
                    @media only screen and (max-width: 1090px){
                        &{
                            flex: 0 0 100%;
                            padding-left: unset;
                        }
                    }

                    .count{
                        display: flex;
                        align-items: center;
                        flex-wrap: wrap;
                        h5{
                            font-size: 17px;
                            font-weight: bold;
                            color: #074D89;
                            display: inline-block;

                            span{
                                display: inline-block;
                            }
                        }
                    }

                    .subs-content{
                        .info{
                            display: flex;
                            flex-wrap: wrap;
                            justify-content: space-between;
                            align-items: center;

                            &:nth-child(1){
                                h4:before{
                                    background: #164396;
                                }
                            }

                            &:nth-child(2){
                                h4:before{
                                    background: #00BCD5;
                                }
                            }

                            &:nth-child(3){
                                h4:before{
                                    background: #FFA726;
                                }
                            }


                            h4{
                                font-size: 14px;  
                                position: relative;
                                padding-left: 20px;
                                &::before{
                                    content:"";
                                    position: absolute;
                                    width: 11px;
                                    height: 11px;
                                    border-radius: 100%;
                                    left: 0;
                                    top: 1.5px;
                                }
                            }

                            span{
                                font-size: 14px;
                                font-size: 18px;
                                padding-bottom: unset;
                            }
                        }
                    }
                }

                span{
                    font-size: 16px;
                    color: #094E88;
                    display: block;
                    padding-bottom: 10px;
                }

                h4{
                    font-size: 36px;
                    font-weight: bold;
                    color: #094E88;
                }
                @media only screen and (max-width: 1090px){
                    &{
                        flex: 0 0 100%;
                    }
                }
            }


            .progress-content{
                flex: 0 0 66%;
                padding-left: 20px;
                
                &.progress-bg{
                    flex: 0 0 50%;
                    
                    @media only screen and (max-width: 1090px){
                        &{
                            flex: 0 0 100%;
                            padding-left: unset;
                            margin: auto;;
                        }
                    }
                }

                @media only screen and (max-width: 1090px){
                    &{
                        flex: 0 0 100%;
                        padding-left: unset;
                    }
                }

                .pie-sm{
                    width: 262px;
                    position: absolute;
                    right: -33px;

                    .count-sm-pie{
                        font-size: 15px;
                        display: block;
                        font-weight: bold;
                        color:#094E88;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        z-index: 0;    
                    }

                    @media only screen and (max-width: 1090px){
                        &{
                            position: relative;
                            right: unset;
                            margin: auto;
                            margin-top: 20px;
                            
                        }
                    }
                }

                .progress-box{
                    padding-bottom: 12px;

                    .title{
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: space-between;
                        align-items: center;

                        label{
                            font-size: 16px;
                            color: #094E88;
                        }

                        span{
                            font-size: 16px;
                            color: #094E88;
                        }
                    }

                    .progress{
                        height: 12px;
                        background: #E2E2E2;
                        border-radius: 6.5px;
                        
                        .progress-bar{
                            width: 0;
                            &.cl-1{
                                background: #FFA726;
                            }

                            &.cl-2{
                                background: #2196F3;
                            }

                            &.cl-3{
                                background: #3DB6EC;
                            }

                            &.cl-4{
                                background: #FF5C24;
                            }

                            &.cl-5{
                                background: #164396;
                            }
                        }
                    }
                }
            }
        }

        .sub-for-pie{
            height: 100%;
            display: flex;
            background: #F9F9F9;
            justify-content: center;
            flex-direction: column;
            padding: 0px 15px;
            .content-sub{
                display: flex;
                flex-wrap: wrap;
                padding: 20px 0px;
                justify-content: center;
                flex-direction: column;
                .info{
                    flex: 0 0 33.33%;
                    padding-left: 10px;
                    padding-right: 10px;
                    padding-bottom: 10px;
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;    
                    justify-content: space-between;
                    
                    h4{
                        display: block;
                        font-size: 14px;
                        position: relative;
                        padding-left: 15px;
                        &::before{
                            content:"";
                            position: absolute;
                            width: 10px;
                            height: 10px;
                            background: red;
                            border-radius: 100%;
                            left: 0;
                            top: 2.5px;
                        }
                    }

                    &:nth-child(1){
                        h4::before{
                            background: #164396;
                        }
                    }

                    &:nth-child(2){
                        h4::before{
                            background: #0061AE;
                        }
                    }

                    &:nth-child(3){
                        h4::before{
                            background: #FFB100;
                        }
                    }

                    &:nth-child(4){
                        h4::before{
                            background: #A3C857;
                        }
                    }

                    &:nth-child(5){
                        h4::before{
                            background: #90D5E4;
                        }
                    }

                    &:nth-child(6){
                        h4::before{
                            background: #3DB6EC;
                        }
                    }

                    span{
                        font-size: 17px;
                        color: #164396;
                        padding-left: 10px;
                    }

                    @media only screen and (max-width: 1000px){
                        &{
                            flex: 0 0 100%;
                        }
                    }
                }
            }
        }

        .sub-for-bars{
            padding-bottom: 10px;

            .content-sub{
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                .infor{
                    padding: 0px 6.5px;

                    h4{
                        font-size: 14px;
                        display: inline-block;
                        position: relative;
                        padding-left: 18px;
                        &::before{
                            content:"";
                            position: absolute;
                            width: 8px;
                            height: 8px;
                            left: 0;
                            top: 2px;
                        }
                    }

                    &:nth-child(1){
                        h4::before{
                            background: #164396;
                        }
                    }

                    &:nth-child(2){
                        h4::before{
                            background: #2196F3;
                        }
                    }

                    &:nth-child(3){
                        h4::before{
                            background: #FFA726;
                        }
                    }
                }
            }
        }
    }
}

.footer{
    background: #003173;
    padding: 3px 0px;
    text-align: right;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;

    span{
        font-size: 12px;
        color: #fff;
        padding-right: 30px;
        font-style: italic;
    }
}

// --------------------------------------- main content -------------------------------------------

.add-new-content-box{
    border-top: 1px solid #C6C6C6;
    border-left: 1px solid #DBDBDB;
    border-radius: 2px 0px 0px 0px;
    -webkit-box-shadow: 0px 0px 3px 1px rgba(117,117,117,0.35); 
    box-shadow: 0px 0px 3px 1px rgba(117,117,117,0.35);
    border-radius: 3px;
    margin-top: 10px;
    height: 100%;
    .action{
        display: flex;
        align-items: center;
        background: #EFEEEE;
        flex-wrap: wrap;
        padding: 10px;
        button, a{
            background: #0E5DBA;
            border: none;
            outline: none;
            border-radius: 5px;
            color: #fff;
            font-size: 16px;
            font-weight: bold;
            display: inline-flex;
            align-items: center;
            width: max-content;
            height: 27px;
            padding: 4px 10px;
            margin-right: 5px;
            transition: .3s ease-out;

            &:hover{
                background: #1492E6;
            }

            @media only screen and (max-width: 688px){
                &{
                    flex: 0 0 100%;
                    margin-top: 10px;

                    &:first-child{
                        margin-top: unset;
                    }
                }
            }

            img{
                padding-right: 4px;
            }

            &:last-child{
                margin-right: unset;
            }
        }
    }

    .add-new-title{
        background: #fff;
        padding: 10px;
        cursor: pointer;

        &.active_add{
            h4{
                img{
                    transform: rotateZ(180deg);
                }
            }
        }
        
        &.has-bd{
            border-bottom: 2px solid #DDDDDD;
        }

        h4{
            font-size: 18px;
            font-weight: bold;
            color: #333333;
        }
    }

    .form-ct{
        padding: 20px 54px 30px 3px;
        background: #F9F9F9;
        border-bottom: 2px solid #DDDDDD;

        select{
            background: #fff;
            -webkit-appearance: none;
            -moz-appearance: none;
            background-image: url('../images/dr.svg');
            background-position: right .45em top 50%;
            background-size: 10px 10px;
            background-repeat: no-repeat;
            padding-right: 1.4em;
            border-radius: 0;
            padding-left: 0.74em;
        }

        @media only screen and (max-width: 688px){
            &{
                padding: 10px;
            }
        }

        .flex-s{
            display: flex;
            flex-wrap: wrap;

            &.cus-w{
                max-width: 1090px;
            }

            &:last-child{
                padding-top: 10px;
            }
            .input-box{
                padding-bottom: 7px;
                label{
                    display: block;
                    font-size: 14px;
                    span{
                        color: #FF2323;
                    }
                }

                input{
                    width: 100%;
                    height: 30px;
                    border: 1px solid #CACACA;
                    outline: none;
                    border-radius: 5px;

                    &:focus{
                        border: 1px solid #2680EB;
                    }
                }
            }

            .input-box-s{
                padding-bottom: 7px;
                label{
                    display: block;
                    font-size: 14px;
                }

                input{
                    width: 100%;
                    height: 30px;
                    border: 1px solid #CACACA;
                    outline: none;
                    border-radius: 5px;

                    &:focus{
                        border: 1px solid #2680EB;
                    }
                }

                select{
                    width: 100%;
                    height: 30px;
                    border: 1px solid #CACACA;
                    outline: none;
                    border-radius: 5px;

                    &:focus{
                        border: 1px solid #2680EB;
                    }
                }
            }

            .input-box-m{
                padding-bottom: 7px;
                label{
                    display: block;
                    font-size: 14px;

                    span{
                        color: #FF2323;
                    }
                }

                input{
                    width: 100%;
                    height: 30px;
                    border: 1px solid #CACACA;
                    outline: none;
                    border-radius: 5px;

                    &:focus{
                        border: 1px solid #2680EB;
                    }

                    &[type="checkbox"]{
                        width: 18px;
                        height: 18px;
                        margin-right: 4px;
                    }
                }

            }

            .input-box-n{
                padding-bottom: 7px;
                label{
                    display: block;
                    font-size: 14px;

                    span{
                        color: #FF2323;
                    }
                }

                input{
                    width: 100%;
                    height: 30px;
                    border: 1px solid #CACACA;
                    outline: none;
                    border-radius: 5px;

                    &:focus{
                        border: 1px solid #2680EB;
                    }

                    &[type="checkbox"]{
                        width: 18px;
                        height: 18px;
                        margin-right: 4px;
                    }
                }

            }

            .input-box-k{
                padding-bottom: 7px;
                label{
                    display: block;
                    font-size: 14px;

                    span{
                        color: #FF2323;
                    }
                }

                input{
                    width: 100%;
                    height: 30px;
                    border: 1px solid #CACACA;
                    outline: none;
                    border-radius: 5px;

                    &:focus{
                        border: 1px solid #2680EB;
                    }

                    &[type="checkbox"]{
                        width: 18px;
                        height: 18px;
                        margin-right: 4px;
                    }
                }
            }

            .input-box-h{
                padding-bottom: 7px;
                label{
                    display: block;
                    font-size: 14px;

                    span{
                        color: #FF2323;
                    }
                }

                input{
                    width: 100%;
                    height: 30px;
                    border: 1px solid #CACACA;
                    outline: none;
                    border-radius: 5px;

                    &:focus{
                        border: 1px solid #2680EB;
                    }

                    &[type="checkbox"]{
                        width: 18px;
                        height: 18px;
                        margin-right: 4px;
                    }
                }

                select{
                    width: 100%;
                    height: 30px;
                    border: 1px solid #CACACA;
                    outline: none;
                    border-radius: 5px;

                    &:focus{
                        border: 1px solid #2680EB;
                    }
                }
            }

            .input-box-t{
                padding-bottom: 7px;
                label{
                    display: block;
                    font-size: 14px;
                    span{
                        color: #FF2323;
                    }
                }

                input{
                    width: 100%;
                    height: 30px;
                    border: 1px solid #CACACA;
                    outline: none;
                    border-radius: 5px;

                    &:focus{
                        border: 1px solid #2680EB;
                    }
                }
            }

            &:first-child{
                .input-box{
                    padding: 0px 7.5px;
                    &:nth-child(1){
                        flex: 0 0 12%;
                        @media only screen and (max-width: 886px){
                            &{
                                flex: 0 0 100%;
                            }
                        }
                    }

                    &:nth-child(2){
                        flex: 0 0 63%;
                        @media only screen and (max-width: 886px){
                            &{
                                flex: 0 0 100%;
                            }
                        }
                    }

                    &:nth-child(3){
                        flex: 0 0 25%;
                        @media only screen and (max-width: 886px){
                            &{
                                flex: 0 0 100%;
                            }
                        }
                    }
                }

                .input-box-s{
                    padding: 0px 7.5px;
                    &:nth-child(1){
                        flex: 0 0 13%;
                        @media only screen and (max-width: 886px){
                            &{
                                flex: 0 0 100%;
                            }
                        }
                    }

                    &:nth-child(2){
                        flex: 0 0 13%;
                        @media only screen and (max-width: 886px){
                            &{
                                flex: 0 0 100%;
                            }
                        }
                    }

                    &:nth-child(3){
                        flex: 0 0 27.5%;
                        @media only screen and (max-width: 886px){
                            &{
                                flex: 0 0 100%;
                            }
                        }
                    }

                    &:nth-child(4){
                        flex: 0 0 27.5%;
                        @media only screen and (max-width: 886px){
                            &{
                                flex: 0 0 100%;
                            }
                        }
                    }

                    &:nth-child(5){
                        flex: 0 0 19%;
                        @media only screen and (max-width: 886px){
                            &{
                                flex: 0 0 100%;
                            }
                        }
                    }
                }

                .input-box-m{
                    padding: 0px 7.5px;
                    &:nth-child(1){
                        flex: 0 0 13%;
                        @media only screen and (max-width: 886px){
                            &{
                                flex: 0 0 100%;
                            }
                        }
                    }

                    &:nth-child(2){
                        flex: 0 0 65%;
                        @media only screen and (max-width: 886px){
                            &{
                                flex: 0 0 100%;
                            }
                        }
                    }

                    &:nth-child(3){
                        flex: 0 0 22%;
                        @media only screen and (max-width: 886px){
                            &{
                                flex: 0 0 100%;
                            }
                        }
                    }

                }

                .input-box-n{
                    padding: 0px 7.5px;
                    &:nth-child(1){
                        flex: 0 0 33.33%;
                        @media only screen and (max-width: 886px){
                            &{
                                flex: 0 0 100%;
                            }
                        }
                    }

                    &:nth-child(2){
                        flex: 0 0 33.33%;
                        @media only screen and (max-width: 886px){
                            &{
                                flex: 0 0 100%;
                            }
                        }
                    }

                    &:nth-child(3){
                        flex: 0 0 33.33%;
                        @media only screen and (max-width: 886px){
                            &{
                                flex: 0 0 100%;
                            }
                        }
                    }

                }

                .input-box-k{
                    padding: 0px 7.5px;
                    &:nth-child(1){
                        flex: 0 0 45%;
                        @media only screen and (max-width: 886px){
                            &{
                                flex: 0 0 100%;
                            }
                        }
                    }

                    &:nth-child(2){
                        flex: 0 0 15%;
                        @media only screen and (max-width: 886px){
                            &{
                                flex: 0 0 100%;
                            }
                        }
                    }

                    &:nth-child(3){
                        flex: 0 0 10%;
                        @media only screen and (max-width: 886px){
                            &{
                                flex: 0 0 100%;
                            }
                        }
                    }

                    &:nth-child(4){
                        flex: 0 0 10%;
                        @media only screen and (max-width: 886px){
                            &{
                                flex: 0 0 100%;
                            }
                        }
                    }

                    &:nth-child(5){
                        flex: 0 0 10%;
                        @media only screen and (max-width: 886px){
                            &{
                                flex: 0 0 100%;
                            }
                        }
                    }

                    &:nth-child(6){
                        flex: 0 0 10%;
                        align-self: flex-end;
                        @media only screen and (max-width: 886px){
                            &{
                                flex: 0 0 100%;
                            }
                        }
                    }
                }

                .input-box-h{
                    padding: 0px 7.5px;
                    &:nth-child(1){
                        flex: 0 0 18%;
                        @media only screen and (max-width: 886px){
                            &{
                                flex: 0 0 100%;
                            }
                        }
                    }

                    &:nth-child(2){
                        flex: 0 0 28%;
                        @media only screen and (max-width: 886px){
                            &{
                                flex: 0 0 100%;
                            }
                        }
                    }

                    &:nth-child(3){
                        flex: 0 0 28%;
                        @media only screen and (max-width: 886px){
                            &{
                                flex: 0 0 100%;
                            }
                        }
                    }

                    &:nth-child(4){
                        flex: 0 0 13%;
                        align-self: flex-end;
                        display: flex;
                        label{
                            display: inline-block;
                        }
                        @media only screen and (max-width: 886px){
                            &{
                                flex: 0 0 100%;
                            }
                        }
                    }

                    &:nth-child(5){
                        flex: 0 0 13%;
                        align-self: flex-end;
                        @media only screen and (max-width: 886px){
                            &{
                                flex: 0 0 100%;
                            }
                        }
                    }
                }

                .input-box-t{
                    flex: 0 0 25%;
                    padding: 0px 7.5px;
                    @media only screen and (max-width: 886px){
                        &{
                            flex: 0 0 100%;
                        }
                    }
                }
            }

            &:nth-child(2){
                padding-top: 10px;
                .input-box-m{
                    padding: 0px 7.5px;
                    &:nth-child(1){
                        flex: 0 0 26%;
                        @media only screen and (max-width: 886px){
                            &{
                                flex: 0 0 100%;
                            }
                        }
                    }

                    &:nth-child(2){
                        flex: 0 0 26%;
                        @media only screen and (max-width: 886px){
                            &{
                                flex: 0 0 100%;
                            }
                        }
                    }

                    &:nth-child(3){
                        flex: 0 0 26%;
                        @media only screen and (max-width: 886px){
                            &{
                                flex: 0 0 100%;
                            }
                        }
                    }
                    &:nth-child(4){
                        flex: 0 0 22%;
                        @media only screen and (max-width: 886px){
                            &{
                                flex: 0 0 100%;
                            }
                        }
                    }

                }
            }

            &:last-child{
                .input-box{
                    padding: 0px 7.5px;
                    flex: 0 0 25%;
                    @media only screen and (max-width: 886px){
                        &{
                            flex: 0 0 100%;
                        }
                    }
                    &:nth-child(1){
                        margin-left: unset;
                    }
                }

                .input-box-s{
                    padding: 0px 7.5px;
                    &:nth-child(1){                      
                        flex: 0 0 13%;
                        @media only screen and (max-width: 886px){
                            &{
                                flex: 0 0 100%;
                            }
                        }
                    }

                    &:nth-child(2){
                        flex: 0 0 13%;
                        @media only screen and (max-width: 886px){
                            &{
                                flex: 0 0 100%;
                            }
                        }
                    }

                    &:nth-child(3){
                        flex: 0 0 74%;
                        @media only screen and (max-width: 886px){
                            &{
                                flex: 0 0 100%;
                            }
                        }
                    }
                }

                .input-box-m{
                    padding: 0px 7.5px;
                    &:nth-child(1){
                        flex: 0 0 26%;
                        @media only screen and (max-width: 886px){
                            &{
                                flex: 0 0 100%;
                            }
                        }
                    }

                    &:nth-child(2){
                        flex: 0 0 52%;
                        @media only screen and (max-width: 886px){
                            &{
                                flex: 0 0 100%;
                            }
                        }
                    }

                    &:nth-child(3){
                        flex: 0 0 22%;
                        @media only screen and (max-width: 886px){
                            &{
                                flex: 0 0 100%;
                            }
                        }
                    }

                }

                .input-box-n{
                    padding: 0px 7.5px;
                    &:nth-child(1){
                        flex: 0 0 33.33%;
                        @media only screen and (max-width: 886px){
                            &{
                                flex: 0 0 100%;
                            }
                        }
                    }

                    &:nth-child(2){
                        flex: 0 0 66.67%;
                        @media only screen and (max-width: 886px){
                            &{
                                flex: 0 0 100%;
                            }
                        }
                    }
                }

                .input-box-t{
                    flex: 0 0 25%;
                    padding: 0px 7.5px;
                    @media only screen and (max-width: 886px){
                        &{
                            flex: 0 0 100%;
                        }
                    }
                }
            }
        }

        .btn-search-box{
            button{
                background: #0E5DBA;
                border: none;
                outline: none;
                border-radius: 5px;
                color: #fff;
                font-size: 16px;
                font-weight: bold;
                display: inline-flex;
                align-items: center;
                width: max-content;
                height: 30px;
                padding: 4px 10px;
                margin-right: 5px;
                transition: .3s ease-out;

                &:hover{
                    background: #1492E6;
                }

                @media only screen and (max-width: 886px){
                    &{
                        margin-right: unset;
                        margin-top: 10px;
                        width: 100%;
                    }
                }
    
                img{
                    padding-right: 4px;
                }
    
                &:last-child{
                    margin-right: unset;
                }
            }
        }

        .row{
            &.no-gutters{
                margin-left: -5px;
                margin-right: -5px;
            }

            &.no-gutters > .col, &.no-gutters > [class*="col-"]{
                padding-left: 5px;
                padding-right: 5px;
            }
        }
    }

    //tabs

    .tabs-box{   
        padding-bottom: 10px;
        .nav-tabs{
            border: none;
            margin: 15px 0px 0px 10px;
            border-bottom: 2px solid #DDDDDD;
            .nav-link{
                padding: 5px 15px;
                border: 1px solid #E2E2E2;
                border-bottom: unset;
                border-top-left-radius: 5px;
                border-top-right-radius: 5px;
                
                &:hover{
                    color: #fff;
                    background: #084788;
                }
            }
        }

        .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
            color: #fff;
            background: #084788;
            border-color: #E2E2E2;
        }
    }

    .subgroup-box{
        padding: 13px 40px;

        @media only screen and (max-width: 1089px){
            &{
                padding: 25px 15px;
            }
        }

        .row{
            &.no-gutters>.col, &.no-gutters>[class*=col-]{
                padding-right: 7.5px;
                padding-left: 7.5px;
            }

            &.no-gutters{
                margin-left: -7.5px;
                margin-right: -7.5px;
            }
        }

        .subgroup-content{
            -webkit-box-shadow: 0px 0px 6px 0px rgba(218,218,218,0.56); 
            box-shadow: 0px 0px 6px 0px rgba(218,218,218,0.56);
            border-radius: 3px;
            margin-bottom: 15px;

            .title{
                background: #EFEEEE;
                padding: 10px 0px 10px 25px;
                h4{
                    font-size: 16px;
                    font-weight: bold;
                }
            }

            .content-box{
                padding: 10px 30px 30px 15px;

                ul{
                    border: 1px solid #F6F9FB;
                    li{
                        font-size: 14px;
                        color: #333;
                        width: 100%;
                        padding: 7px 0px 7px 20px;

                        &:nth-child(odd){
                            background: #F6F9FB;
                        }
                    }
                }
            }
        }
    }

}

.error-pages{
    height: 100vh;
    overflow-y: hidden;
    .error-box{
        width: 100vw;
        height: 85%;
        display: flex;
        justify-content: center;
        align-items: center;

        .notify-error{
            margin-right: 15px;
            img{
                height: 155px;
            }
        }

        .text-error{
            align-self: center;
            padding-bottom: 13px;
            h3{
                font-size: 60px;
                font-weight: bold;
                text-transform: uppercase;
                line-height: 1;
            }

            p{
                font-size: 14px;
                font-weight: bold;
            }

            button{
                border: none;
                outline: none;
                border-radius: 5px;
                background: #0E5DBA;
                color: #fff;
                font-size: 16px;
                font-weight: bold;
                padding: 4px 15px;
                margin-top: 6px;
                transition: .3s ease-out;

	            &:hover{
	                background: #1492E6;
	            }
            }
        }
    }

    .footer{
        position: fixed;
        width: 100%;
        left: 0;
        bottom: 0;
    }
}

