@media only screen and (max-width: 768px) {
  #header {
    display: table; } }
#header .fixed-stuck {
  position: fixed;
  top: 0;
  width: 100%;
  background: #fff;
  overflow: visible;
  z-index: 49;
  box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.1);
  -ms-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }
#header .off-header {
  display: none; }
#header .header-main {
  background: #04b431;
  padding: 8px; }
  @media only screen and (max-width: 768px) {
    #header .header-main {
      display: none; } }
  #header .header-main .logo {
    max-width: 293px;
    height: 100px;
    margin: auto; }
#header .header-bottom {
  border-bottom: 3px solid #dedede; }
  @media only screen and (max-width: 768px) {
    #header .header-bottom {
      display: none; } }
  #header .header-bottom .nav-bar-main {
    max-width: 1348px;
    margin: auto; }
    #header .header-bottom .nav-bar-main .ul-nav-bar {
      display: flex;
      justify-content: center; }
      #header .header-bottom .nav-bar-main .ul-nav-bar li {
        margin-right: 10px;
        position: relative;
        padding: 20px 0px; }
        #header .header-bottom .nav-bar-main .ul-nav-bar li:last-child {
          margin-right: unset; }
        #header .header-bottom .nav-bar-main .ul-nav-bar li:hover .drop-down {
          left: 0;
          opacity: 1;
          visibility: visible; }
        #header .header-bottom .nav-bar-main .ul-nav-bar li .list-item {
          font-weight: 700;
          font-size: 16px;
          text-transform: uppercase;
          color: #04b431;
          padding: 10px 5px;
          border-radius: 5px; }
          @media only screen and (max-width: 1024px) {
            #header .header-bottom .nav-bar-main .ul-nav-bar li .list-item {
              font-size: 10px; } }
          #header .header-bottom .nav-bar-main .ul-nav-bar li .list-item:hover {
            background: #04b431;
            color: #fff; }
        #header .header-bottom .nav-bar-main .ul-nav-bar li .drop-down {
          position: absolute;
          width: 300px;
          height: auto;
          border-top: 3px solid #04B431;
          top: 56px;
          left: -100vw;
          z-index: 20;
          background: #fff; }
          #header .header-bottom .nav-bar-main .ul-nav-bar li .drop-down.medium-ct {
            max-width: 170px; }
          #header .header-bottom .nav-bar-main .ul-nav-bar li .drop-down.small-ct {
            max-width: 150px; }
          #header .header-bottom .nav-bar-main .ul-nav-bar li .drop-down.medium-ct.scroll-height {
            max-width: 182px;
            height: 370px; }
            #header .header-bottom .nav-bar-main .ul-nav-bar li .drop-down.medium-ct.scroll-height .drop-box {
              height: 370px;
              overflow: scroll;
              overflow-x: hidden;
              position: relative; }
              #header .header-bottom .nav-bar-main .ul-nav-bar li .drop-down.medium-ct.scroll-height .drop-box::-webkit-scrollbar {
                width: 6px;
                background-color: #F5F5F5; }
              #header .header-bottom .nav-bar-main .ul-nav-bar li .drop-down.medium-ct.scroll-height .drop-box::-webkit-scrollbar-thumb {
                background-color: #CDCDCD;
                border-radius: 5px; }
          #header .header-bottom .nav-bar-main .ul-nav-bar li .drop-down.sub-sm {
            left: -100vw;
            top: -2.5px;
            opacity: 0;
            visibility: hidden; }
            #header .header-bottom .nav-bar-main .ul-nav-bar li .drop-down.sub-sm ul li:hover {
              background: #04b431; }
              #header .header-bottom .nav-bar-main .ul-nav-bar li .drop-down.sub-sm ul li:hover .sub-item {
                color: #fff; }
                #header .header-bottom .nav-bar-main .ul-nav-bar li .drop-down.sub-sm ul li:hover .sub-item .fa {
                  color: #fff; }
            #header .header-bottom .nav-bar-main .ul-nav-bar li .drop-down.sub-sm ul li .sub-item {
              font-size: 12px;
              text-transform: uppercase;
              font-weight: bold;
              color: #04b431;
              line-height: 26px;
              padding: unset;
              color: #686868;
              border-radius: unset;
              width: 100%;
              display: flex;
              justify-content: space-between;
              align-items: center; }
          #header .header-bottom .nav-bar-main .ul-nav-bar li .drop-down .drop-box {
            position: relative; }
            #header .header-bottom .nav-bar-main .ul-nav-bar li .drop-down .drop-box ul li {
              width: 100%;
              transition: .3s ease-out;
              padding: 5px 0px 5px 10px;
              border-bottom: 1px solid #EEEEEE;
              position: relative; }
              #header .header-bottom .nav-bar-main .ul-nav-bar li .drop-down .drop-box ul li:hover .drop-down.sub-sm {
                left: 100%;
                opacity: 1;
                visibility: visible; }
              #header .header-bottom .nav-bar-main .ul-nav-bar li .drop-down .drop-box ul li:hover {
                background: #04b431; }
                #header .header-bottom .nav-bar-main .ul-nav-bar li .drop-down .drop-box ul li:hover .drop-item {
                  color: #fff; }
                  #header .header-bottom .nav-bar-main .ul-nav-bar li .drop-down .drop-box ul li:hover .drop-item .fa {
                    color: #fff; }
              #header .header-bottom .nav-bar-main .ul-nav-bar li .drop-down .drop-box ul li .drop-item {
                font-size: 12px;
                text-transform: uppercase;
                font-weight: bold;
                color: #04b431;
                line-height: 26px;
                padding: unset;
                color: #686868;
                border-radius: unset;
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center; }
                #header .header-bottom .nav-bar-main .ul-nav-bar li .drop-down .drop-box ul li .drop-item .fa {
                  font-size: 12px;
                  padding-right: 5px;
                  font-weight: 600;
                  color: #686868; }
        #header .header-bottom .nav-bar-main .ul-nav-bar li button {
          border: none;
          outline: none;
          background-color: #fff;
          cursor: pointer; }
          #header .header-bottom .nav-bar-main .ul-nav-bar li button .fa {
            color: #04b431; }
#header .header-moblie {
  background: #29B961;
  height: 65px;
  opacity: 0;
  visibility: hidden;
  position: fixed;
  width: 100vw;
  z-index: 99;
  top: 0;
  left: 0; }
  @media only screen and (max-width: 768px) {
    #header .header-moblie {
      opacity: 1;
      visibility: visible; } }
  #header .header-moblie .nav-content {
    position: relative; }
    #header .header-moblie .nav-content .button-bar {
      position: absolute;
      top: 10px;
      left: 10px;
      bottom: 10px; }
      #header .header-moblie .nav-content .button-bar button {
        color: #666;
        font-size: 18px;
        height: 40px;
        width: 40px;
        line-height: 40px;
        border: 1px solid #eee;
        outline: none;
        text-align: center;
        background: #f7f7f7;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        -webkit-transition: 0.15s all ease;
        -moz-transition: 0.15s all ease;
        -o-transition: 0.15s all ease;
        transition: 0.15s all ease; }
    #header .header-moblie .nav-content .logo-mb {
      max-width: 150px;
      height: 50px;
      margin: auto;
      padding-top: 5px; }
  #header .header-moblie .site-nav-moblie {
    position: fixed;
    width: 300px;
    height: 100%;
    background: #3F3E37;
    top: 0;
    left: 0;
    z-index: 999;
    transition: .3s ease-out;
    transform-origin: 0% 100%;
    transform: translateX(-100%); }
    #header .header-moblie .site-nav-moblie.push-site-mb {
      transform: translateX(0%) !important; }
    #header .header-moblie .site-nav-moblie .bar-scl-box {
      background: #393831;
      border-bottom: 1px solid #46453E; }
      #header .header-moblie .site-nav-moblie .bar-scl-box .bar-scl {
        border: none;
        outline: none;
        background-color: transparent;
        color: #fff;
        font-size: 17px;
        padding: 20px; }
    #header .header-moblie .site-nav-moblie .site-nav-box {
      padding: 10px 20px 20px 20px; }
      #header .header-moblie .site-nav-moblie .site-nav-box ul li {
        border-bottom: 1px solid #46453E;
        padding: 10px 0px; }
        #header .header-moblie .site-nav-moblie .site-nav-box ul li .site-nav-search .box-text-content {
          animation: scale_show .3s forwards; }
@keyframes scale_show {
  0% {
    transform: scale(0.7);
    opacity: 0; }
  100% {
    transform: scale(1);
    opacity: 1; } }
          #header .header-moblie .site-nav-moblie .site-nav-box ul li .site-nav-search .box-text-content .search-header-box-content {
            max-width: 100%; }
            #header .header-moblie .site-nav-moblie .site-nav-box ul li .site-nav-search .box-text-content .search-header-box-content form {
              max-width: 100%;
              height: 46px;
              display: flex;
              border-radius: 5px;
              overflow: hidden; }
              #header .header-moblie .site-nav-moblie .site-nav-box ul li .site-nav-search .box-text-content .search-header-box-content form input {
                width: 100%;
                border: none;
                outline: none;
                padding-left: 10px; }
              #header .header-moblie .site-nav-moblie .site-nav-box ul li .site-nav-search .box-text-content .search-header-box-content form button {
                border: none;
                outline: none;
                background: #fff;
                color: #808080; }
        #header .header-moblie .site-nav-moblie .site-nav-box ul li .list-moblibe-item {
          display: flex;
          justify-content: space-between;
          font-size: 17px;
          font-weight: 400;
          line-height: 28px;
          text-transform: uppercase;
          cursor: pointer; }
          #header .header-moblie .site-nav-moblie .site-nav-box ul li .list-moblibe-item.active a {
            color: #29B961; }
          #header .header-moblie .site-nav-moblie .site-nav-box ul li .list-moblibe-item.active button {
            transform: rotate(90deg); }
            #header .header-moblie .site-nav-moblie .site-nav-box ul li .list-moblibe-item.active button .fa {
              color: #29B961; }
          #header .header-moblie .site-nav-moblie .site-nav-box ul li .list-moblibe-item a {
            color: #fff; }
          #header .header-moblie .site-nav-moblie .site-nav-box ul li .list-moblibe-item #ws-247-accordion {
            border: none;
            outline: none;
            background-color: transparent;
            font-size: 17px;
            line-height: 28px;
            color: #fff; }
            #header .header-moblie .site-nav-moblie .site-nav-box ul li .list-moblibe-item #ws-247-accordion .fa {
              font-weight: 600; }
        #header .header-moblie .site-nav-moblie .site-nav-box ul li .panel {
          max-height: 0;
          overflow: hidden;
          transition: max-height 0.2s ease-out;
          padding: 0px 5px; }
          #header .header-moblie .site-nav-moblie .site-nav-box ul li .panel ul li:last-child {
            border-bottom: unset; }

#overlay-search {
  position: fixed;
  background: rgba(0, 0, 0, 0.72);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 50;
  display: none;
  transition: .3s ease-out;
  animation: show_overlay .3s forwards; }
  #overlay-search.show_search {
    display: block; }
@keyframes show_overlay {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
#search-header-box {
  position: fixed;
  top: 165px;
  left: 50%;
  transform: translateX(-50%);
  display: none;
  z-index: 51; }
  #search-header-box.show-search-hd-ct {
    display: block; }
  #search-header-box .box-text-content {
    animation: scale_show .3s forwards; }
@keyframes scale_show {
  0% {
    transform: scale(0.7);
    opacity: 0; }
  100% {
    transform: scale(1);
    opacity: 1; } }
    #search-header-box .box-text-content label {
      font-size: 34px;
      line-height: 57px;
      font-weight: 400;
      color: #fff;
      text-align: center;
      display: block;
      margin: auto; }
    #search-header-box .box-text-content .search-header-box-content {
      max-width: 350px; }
      #search-header-box .box-text-content .search-header-box-content form {
        width: 350px;
        height: 46px;
        display: flex;
        border-radius: 5px;
        overflow: hidden; }
        #search-header-box .box-text-content .search-header-box-content form input {
          width: 100%;
          border: none;
          outline: none;
          padding-left: 10px; }
        #search-header-box .box-text-content .search-header-box-content form button {
          border: none;
          outline: none;
          background: #fff;
          color: #808080; }

/*# sourceMappingURL=header.css.map */
