html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1.5;
  font-family: 'Myriadpro';
  overflow-x: hidden; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

img {
  max-width: 100%;
  height: auto; }

button {
  cursor: pointer;
  border: none;
  outline: none; }

a {
  color: black; }

a:hover {
  text-decoration: none; }

@font-face {
  font-family: 'Myriadpro';
  src: url("../fonts/font/MyriadPro_Regular.otf");
  font-weight: 400; }
@font-face {
  font-family: 'Myriadpro';
  src: url("../fonts/font/MYRIADPRO-BOLD.OTF");
  font-weight: bold; }
@font-face {
  font-family: 'Myriadpro';
  src: url("../fonts/font/MYRIADPRO-SEMIBOLD.OTF");
  font-weight: 800; }

/*# sourceMappingURL=reset.css.map */
