html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1.5;
  font-family: 'Myriadpro';
  overflow-x: hidden;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

a {
  color: black;
}

a:hover {
  text-decoration: none;
}

@font-face {
  font-family: 'Myriadpro';
  src: url("../fonts/font/MyriadPro_Regular.otf");
  font-weight: 400;
}
@font-face {
  font-family: 'Myriadpro';
  src: url("../fonts/font/MYRIADPRO-BOLD.OTF");
  font-weight: bold;
}
@font-face {
  font-family: 'Myriadpro';
  src: url("../fonts/font/MYRIADPRO-SEMIBOLD.OTF");
  font-weight: 800;
}
.login-ds {
  background-image: url("../images/bg2.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: table-cell;
  vertical-align: middle;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  position: relative;
}
@media only screen and (max-width: 1024px) {
  .login-ds {
    padding: 10px;
    height: 100vh;
    width: 100vw;
  }
}
.login-ds .login-box {
  max-width: 446.78px;
  height: auto;
  margin: auto;
}
.login-ds .login-box__logo img {
  margin: auto;
  display: block;
}
.login-ds .login-box__logo .main-logo {
  max-width: 129px;
  height: 129px;
  background: transparent;
}
.login-ds .login-box__logo .sub-logo {
  padding-top: 0px;
}
.login-ds .form-box {
  background: #FFFFFF;
  border-radius: 20px;
  overflow: hidden;
  margin-top: 30px;
}
.login-ds .form-box .main-title {
  font-size: 22px;
  font-weight: bold;
  text-transform: uppercase;
  color: #033489;
  text-align: center;
  padding-top: 30px;
}
.login-ds .form-box .login-txt {
  padding: 30px 50px 25px 50px;
}
.login-ds .form-box .login-txt label {
  font-size: 16px;
  font-weight: bold;
  color: #033489;
}
.login-ds .form-box .login-txt .input-group {
  border-bottom: 1px solid #B0B0B0;
}
.login-ds .form-box .login-txt .input-group input {
  border: none;
  outline: none;
  box-shadow: none;
  padding: 0;
}
.login-ds .form-box .login-txt .input-group input:focus, .login-ds .form-box .login-txt .input-group input:active {
  outline: none;
}
.login-ds .form-box .login-txt .input-group .input-group-append span {
  border: none;
  background: none;
  padding: 0;
}
.login-ds .form-box .login-txt .input-group .input-group-append span::before {
  background-repeat: no-repeat;
  background-position: center;
}
.login-ds .form-box .login-txt .input-group .input-group-append span.user-txt::before {
  content: "";
  background-image: url("../images/user_ic.png");
  width: 22px;
  height: 18px;
  display: inline-block;
}
.login-ds .form-box .login-txt .input-group .input-group-append span.pass-txt::before {
  content: "";
  background-image: url("../images/pass_ic.png");
  width: 22px;
  height: 18px;
  display: inline-block;
}
.login-ds .submit-box {
  background: #22AAE0;
  padding: 18px 0px;
  text-align: center;
}
.login-ds .submit-box button {
  width: 160px;
  height: 40px;
  background: #003173;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  border-radius: 9px;
  border: none;
  outline: none;
  position: relative;
  transition: .3s ease-out;
}
.login-ds .submit-box button:hover {
  background: #1492E6;
}
.login-ds .submit-box button::after {
  content: "";
  background-image: url("../images/ar.png");
  background-repeat: no-repeat;
  position: absolute;
  width: 17px;
  height: 13px;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}
.login-ds .info-login {
  max-width: 446.78px;
  height: auto;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  padding-top: 20px;
  justify-content: space-between;
}
.login-ds .info-login h4 {
  font-size: 14px;
  color: #fff;
  font-weight: bold;
  display: inline-block;
  position: relative;
  text-transform: uppercase;
}
.login-ds .info-login .media:last-child {
  margin-left: 8px;
}
@media only screen and (max-width: 768px) {
  .login-ds .info-login .media:last-child {
    margin-left: unset;
  }
}
.login-ds .submit-box-two {
  position: absolute;
  left: 64%;
  bottom: 19%;
}
@media only screen and (max-width: 1300px) {
  .login-ds .submit-box-two {
    display: none;
  }
}
.login-ds .submit-box-two button {
  width: 160px;
  height: 40px;
  background: #1492E6;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  border-radius: 9px;
  border: none;
  outline: none;
  position: relative;
}
.login-ds .submit-box-two button::after {
  content: "";
  background-image: url("../images/ar.png");
  background-repeat: no-repeat;
  position: absolute;
  width: 17px;
  height: 13px;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.container-fluid.add-theme {
  padding-right: unset;
}
@media only screen and (max-width: 1024px) {
  .container-fluid.add-theme {
    padding-right: 15px;
  }
}

.modal-dialog.cus-model {
  max-width: 1365px;
}
.modal-dialog.cus-model .modal-content {
  overflow: hidden;
  border: none;
  -webkit-box-shadow: 0px 0px 5px 1px rgba(121, 121, 121, 0.5);
  box-shadow: 0px 0px 5px 1px rgba(121, 121, 121, 0.5);
}
.modal-dialog.cus-model .modal-body {
  padding: 0;
}
.modal-dialog.cus-model .modal-body .title-model-in {
  background: #EFEEEE;
  text-align: center;
  padding: 14px 0px;
}
.modal-dialog.cus-model .modal-body .title-model-in h4 {
  font-size: 18px;
  color: #333333;
  font-weight: bold;
}
.modal-dialog.cus-model .modal-body table tr td {
  padding: 7px 4px;
}
.modal-dialog.cus-model .modal-body .content-info .calculation {
  padding: 2.5px 18px 2.5px 20px;
}
.modal-dialog.cus-model .modal-footer {
  background: #EFEEEE;
  text-align: center;
  justify-content: center;
  padding: 13px 0px;
}
.modal-dialog.cus-model .modal-footer button {
  background: #0E5DBA;
  border: none;
  outline: none;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  display: inline-flex;
  align-items: center;
  width: max-content;
  height: 27px;
  padding: 4px 10px;
  margin: auto;
  transition: .3s ease-out;
}
.modal-dialog.cus-model .modal-footer button:hover {
  background: #1492E6;
}
@media only screen and (max-width: 688px) {
  .modal-dialog.cus-model .modal-footer button {
    flex: 0 0 100%;
    margin-top: 10px;
  }
  .modal-dialog.cus-model .modal-footer button:first-child {
    margin-top: unset;
  }
}
.modal-dialog.cus-model .modal-footer button img {
  padding-right: 4px;
}
.modal-dialog.dk-model .modal-body .ques-con-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 0px;
}
.modal-dialog.dk-model .modal-body .ques-con-box h4 {
  font-size: 14px;
  font-weight: bold;
  padding-top: 20px;
}
.modal-dialog.dk-model .modal-footer {
  background: #EFEEEE;
  padding: 10px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-dialog.dk-model .modal-footer .btn-action-cl {
  background: #0E5DBA;
  border: none;
  outline: none;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  display: inline-flex;
  align-items: center;
  width: max-content;
  height: 30px;
  padding: 0px 12px;
  margin-right: 5px;
  transition: .3s ease-out;
}
.modal-dialog.dk-model .modal-footer .btn-action-cl span {
  padding-bottom: unset;
}
.modal-dialog.dk-model .modal-footer .btn-action-cl:first-child {
  background: #0E5DBA;
}
.modal-dialog.dk-model .modal-footer .btn-action-cl:first-child:hover {
  background: #1492E6;
}
.modal-dialog.dk-model .modal-footer .btn-action-cl:last-child {
  background: #707070;
}
.modal-dialog.dk-model .modal-footer .btn-action-cl:last-child:hover {
  background: #0E5DBA;
}
.modal-dialog.dk-model .modal-footer .btn-action-cl:hover {
  background: #1492E6;
}
@media only screen and (max-width: 688px) {
  .modal-dialog.dk-model .modal-footer .btn-action-cl {
    flex: 0 0 100%;
    margin-top: 10px;
  }
  .modal-dialog.dk-model .modal-footer .btn-action-cl:first-child {
    margin-top: unset;
  }
}
.modal-dialog.dk-model .modal-footer .btn-action-cl img {
  padding-right: 8px;
  padding-bottom: 3px;
}
.modal-dialog.dk-model .modal-footer .btn-action-cl:last-child {
  margin-right: unset;
}

.content-info {
  position: relative;
  padding: 0px 21px 30px 11px;
}
.content-info .content-new-title {
  padding: 15px 0px;
}
.content-info .content-new-title h4 {
  font-size: 16px;
  font-weight: bold;
  color: #333333;
}
.content-info .content-info-title {
  padding-bottom: 10px;
  text-align: center;
}
.content-info .content-info-title h4 {
  font-size: 18px;
  font-weight: bold;
  color: #333333;
}
.content-info table {
  width: 100%;
  background: #fff;
}
.content-info table.table-hover tbody tr:hover {
  background: #F6F9FB;
}
.content-info table.result-point tr td {
  font-size: 14px;
  padding: 6px 4px 6px 4px;
}
.content-info table.result-point tr td a {
  color: #003177;
}
.content-info table.result-point tr td.number {
  width: 51px;
  font-size: 16px;
  vertical-align: middle;
  padding: unset;
}
.content-info table.result-point tr td.code-kt {
  color: #003173;
  width: 125px;
}
.content-info table.result-point tr td.name-kt {
  width: 460px;
}
.content-info table.result-point tr td.agencies-kt {
  width: 225px;
}
.content-info table.result-point tr td.plan-kt {
  width: 128px;
}
.content-info table.result-point tr td.field-kt {
  width: 240px;
}
.content-info table.result-point tr td.clue-kt {
  width: 235px;
}
.content-info table.result-point tr td.status-kt {
  width: 100px;
  white-space: nowrap;
}
.content-info table.result-point tr td.status-kt span {
  position: relative;
  display: inline-block;
  padding-left: 15px;
}
.content-info table.result-point tr td.status-kt span::before {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 100%;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  background: transparent;
  position: absolute;
}
.content-info table.result-point tr td.status-kt span.cancel::before {
  background: #E38F3F;
}
.content-info table.result-point tr td.status-kt span.additional::before {
  background: #09CAD6;
}
.content-info table.result-point tr td.status-kt span.input::before {
  background: #6955AA;
}
.content-info table.result-point tr td.status-kt span.approved::before {
  background: #2483C5;
}
.content-info table.result-point tr td.nature-kt {
  width: 145px;
  white-space: nowrap;
}
.content-info table.result-point tr td.number-s {
  width: 46px;
  font-size: 16px;
  vertical-align: middle;
  padding: unset;
}
.content-info table.result-point tr td.code-da {
  width: 464px;
}
.content-info table.result-point tr td.name-da {
  width: 400px;
}
.content-info table.result-point tr td.role-da {
  width: 355px;
}
.content-info table.result-point tr td.classify-da {
  width: 295px;
}
.content-info table.result-point tr td.clue-da {
  width: 300px;
}
.content-info table.result-point tr td.number-yk {
  width: 45px;
  font-size: 16px;
  vertical-align: middle;
  padding: unset;
}
.content-info table.result-point tr td.code-yk {
  width: 580px;
}
.content-info table.result-point tr td.name-yk {
  width: 460px;
}
.content-info table.result-point tr td.day-yk {
  width: 125px;
}
.content-info table.result-point tr td.text-yk {
  width: 235px;
}
.content-info table.result-point tr td.file-yk {
  width: 215px;
}
.content-info table.result-point tr td.idea-yk {
  width: 130px;
  vertical-align: middle;
}
.content-info table.result-point tr td.idea-yk button {
  border: none;
  outline: none;
  background: transparent;
  width: max-content;
  padding: unset;
  margin: unset;
  position: relative;
  display: inline-block;
}
.content-info table.result-point tr td.idea-yk button:hover img:first-child {
  opacity: 0;
  visibility: hidden;
  z-index: 0;
}
.content-info table.result-point tr td.idea-yk button:hover img:last-child {
  opacity: 1;
  visibility: visible;
  z-index: 2;
}
.content-info table.result-point tr td.idea-yk button img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -70%);
  z-index: 5;
  display: block;
  width: 28px;
  height: 28px;
  max-width: 30px;
  transition: .3s ease-out;
}
.content-info table.result-point tr td.idea-yk button img:first-child {
  opacity: 1;
  visibility: visible;
  z-index: 2;
}
.content-info table.result-point tr td.idea-yk button img:last-child {
  opacity: 0;
  visibility: hidden;
  z-index: 0;
}
.content-info table.result-point tr td.number-md {
  width: 41px;
  font-size: 16px;
  vertical-align: middle;
  padding: unset;
}
.content-info table.result-point tr td.code-md {
  width: 400px;
}
.content-info table.result-point tr td.name-md {
  width: 220px;
}
.content-info table.result-point tr td.job-md {
  width: 250px;
}
.content-info table.result-point tr td.day-md {
  width: 120px;
}
.content-info table.result-point tr td.content-md {
  width: 170px;
}
.content-info table.result-point tr td.file-md {
  width: 135px;
}
.content-info table.result-point tr td.number-nd {
  width: 42px;
  font-size: 16px;
  vertical-align: middle;
  padding: unset;
}
.content-info table.result-point tr td.code-nd {
  width: 130px;
  color: #003173;
}
.content-info table.result-point tr td.name-nd {
  width: 170px;
}
.content-info table.result-point tr td.room-nd {
  width: 115px;
}
.content-info table.result-point tr td.user-nd {
  width: 730px;
}
.content-info table.result-point tr td.status-nd {
  width: 155px;
}
.content-info table.result-point tr td.status-lock {
  width: 126px;
}
.content-info table.result-point tr td.stop-nd {
  width: 126px;
  vertical-align: middle;
}
.content-info table.result-point tr td.stop-nd button {
  border: none;
  outline: none;
  background: transparent;
  width: max-content;
  padding: unset;
  margin: unset;
  position: relative;
  display: inline-block;
}
.content-info table.result-point tr td.stop-nd button:hover img:first-child {
  opacity: 0;
  visibility: hidden;
  z-index: 0;
}
.content-info table.result-point tr td.stop-nd button:hover img:last-child {
  opacity: 1;
  visibility: visible;
  z-index: 2;
}
.content-info table.result-point tr td.stop-nd button img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -70%);
  z-index: 5;
  display: block;
  width: 28px;
  height: 28px;
  max-width: 30px;
  transition: .3s ease-out;
}
.content-info table.result-point tr td.stop-nd button img:first-child {
  opacity: 1;
  visibility: visible;
  z-index: 2;
}
.content-info table.result-point tr td.stop-nd button img:last-child {
  opacity: 0;
  visibility: hidden;
  z-index: 0;
}
.content-info table.result-point tr td.unlock-nd {
  width: 100px;
}
.content-info table.result-point tr td.nature-nd {
  width: 112px;
}
.content-info table.result-point tr td.number-pk {
  width: 42px;
  vertical-align: middle;
  font-size: 16px;
}
.content-info table.result-point tr td.group-pk {
  width: 710px;
}
.content-info table.result-point tr td.role-pk {
  width: 850px;
}
.content-info table.result-point tr td.status-pk {
  width: 200px;
}
.content-info table tr td {
  border: 1px solid #dedede;
}
.content-info table thead tr th {
  border: 1px solid #dedede;
  color: #333;
  vertical-align: middle;
  background: #D6E3F2;
  font-size: 14px;
  padding: 9px 7px;
  white-space: nowrap;
}
.content-info table thead tr th span {
  color: #F32A2A;
}
.content-info .calculation {
  display: flex;
  flex-wrap: wrap;
  background: #EFEEEE;
  padding: 5px 18px 5px 20px;
}
.content-info .calculation .info-cal {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.content-info .calculation .info-cal .sum {
  margin-right: 15px;
}
.content-info .calculation .info-cal .detail {
  display: flex;
  align-items: center;
}
.content-info .calculation .info-cal .detail select {
  width: 54px;
  height: 26px;
  border: 1px solid #DEDEDE;
  background: #fff;
  padding-left: 7px;
  margin-left: 7px;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("../images/dr.svg");
  background-position: right .45em top 50%;
  background-size: 10px 10px;
  background-repeat: no-repeat;
  padding-right: 1.4em;
  border-radius: 0;
}
.content-info .calculation h5 {
  font-size: 14px;
}
.content-info .calculation .pages {
  display: flex;
  align-items: center;
}
.content-info .calculation .pages ul {
  display: flex;
  align-items: center;
  padding-right: 24px;
}
.content-info .calculation .pages ul li {
  margin-right: 40px;
}
.content-info .calculation .pages ul li:last-child {
  margin-right: unset;
}
.content-info .calculation .pages ul li:last-child a::after {
  content: "...";
}
.content-info .calculation .pages ul li a {
  font-size: 16px;
}
.content-info .calculation .pages ul li.active a {
  color: #2386EA;
}
.content-info .calculation .pages .switch {
  display: flex;
  align-items: center;
}
.content-info .calculation .pages .switch button {
  border: none;
  outline: none;
  background: transparent;
  width: max-content;
  padding: unset;
  margin: unset;
  position: relative;
  display: inline-block;
  border-radius: 100%;
  padding: 0;
  width: 24px;
  height: 24px;
  margin: 7px 5px 0px 5px;
}
.content-info .calculation .pages .switch button:hover img:first-child {
  opacity: 0;
  visibility: hidden;
  z-index: 0;
}
.content-info .calculation .pages .switch button:hover img:last-child {
  opacity: 1;
  visibility: visible;
  z-index: 2;
}
.content-info .calculation .pages .switch button img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -70%);
  z-index: 5;
  display: block;
  transition: .3s ease-out;
  width: 24px;
  height: 24px;
}
.content-info .calculation .pages .switch button img:first-child {
  opacity: 1;
  visibility: visible;
  z-index: 2;
}
.content-info .calculation .pages .switch button img:last-child {
  opacity: 0;
  visibility: hidden;
  z-index: 0;
}

.header {
  width: 100%;
  height: 75px;
  background-image: url("../images/BG_banner.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
}
.header .head-bars {
  display: none;
}
.header .head-bars button {
  border: none;
  outline: none;
  background: none;
  font-size: 20px;
}
.header .head-bars button .fa {
  color: #FFFFFF;
}
@media only screen and (max-width: 1089px) {
  .header .head-bars {
    display: block;
  }
}
.header .logo {
  max-width: 355px;
  height: auto;
}
@media only screen and (max-width: 886px) {
  .header .logo {
    max-width: 260px;
  }
}
.header .logo img {
  vertical-align: middle;
}
.header .media .media-body {
  text-align: right;
}
@media only screen and (max-width: 1089px) {
  .header .media .media-body {
    display: none;
  }
}
.header .media .media-body h5 {
  font-size: 14px;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
}
.header .media .media-body span {
  font-size: 14px;
  color: #fff;
}

.main-content {
  display: flex;
  overflow: hidden;
}
.main-content .nav-bar {
  width: 70px;
  height: auto;
  background: #EFEEEE;
  -webkit-box-shadow: 0px 0px 3px 1px rgba(207, 207, 207, 0.34);
  box-shadow: 0px 0px 3px 1px rgba(207, 207, 207, 0.34);
  border-right: 1px solid #CFCFCF;
  position: relative;
  transition: .3s ease-out;
}
@media only screen and (max-width: 1089px) {
  .main-content .nav-bar {
    position: fixed;
    top: 0;
    left: -260px;
    height: 100% !important;
    z-index: 999;
  }
}
.main-content .nav-bar.active_nav {
  width: 260px;
}
@media only screen and (max-width: 1089px) {
  .main-content .nav-bar.active_nav {
    left: 0;
  }
}
.main-content .nav-bar.active_nav ul {
  overflow-y: scroll;
  height: 758px;
}
.main-content .nav-bar.active_nav ul::-webkit-scrollbar {
  width: 5px;
  background-color: #EFEEEE;
}
.main-content .nav-bar.active_nav ul::-webkit-scrollbar-thumb {
  background-color: #b8b8b8;
  border-radius: 5px;
}
@media only screen and (max-width: 1089px) {
  .main-content .nav-bar.active_nav ul {
    overflow-y: scroll;
  }
}
.main-content .nav-bar.active_nav ul li {
  text-align: left;
}
.main-content .nav-bar.active_nav ul li:hover div {
  display: none;
}
.main-content .nav-bar.active_nav ul li a {
  display: flex;
  align-items: center;
  width: 90%;
  padding: 3px 0px 3px 10px;
}
.main-content .nav-bar.active_nav ul li a span {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.main-content .nav-bar.active_nav ul li .btn-drop {
  display: block;
}
.main-content .nav-bar.active_nav ul li .drop-child {
  display: block;
  background: #fff;
}
.main-content .nav-bar ul {
  display: flex;
  flex-direction: column;
}
.main-content .nav-bar ul li {
  border-bottom: 1px solid #E3E3E3;
  transition: .3s ease-out;
  text-align: center;
  position: relative;
}
.main-content .nav-bar ul li.active-bg {
  background: #fff;
}
.main-content .nav-bar ul li::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 5px;
  background: #003173;
  opacity: 0;
  visibility: hidden;
  transition: .3s ease-out;
  top: 0;
  left: 0;
}
.main-content .nav-bar ul li:hover {
  background: #fff;
}
.main-content .nav-bar ul li:hover::before {
  opacity: 1;
  visibility: visible;
}
.main-content .nav-bar ul li:hover div {
  display: inline-flex;
  align-items: center;
}
.main-content .nav-bar ul li a {
  width: 93%;
  padding: 3px 0px;
  display: block;
}
.main-content .nav-bar ul li a span {
  display: none;
  font-size: 14px;
  color: #003173;
  font-weight: bold;
  padding-left: 3px;
}
.main-content .nav-bar ul li a div {
  position: absolute;
  animation-duration: 0.34s;
  margin-left: 15px;
  text-align: left;
  width: 300px;
  height: 100%;
  display: none;
  z-index: 7;
  background: #fff;
  -webkit-box-shadow: -1px 0px 6px 0px rgba(224, 224, 224, 0.76);
  box-shadow: -1px 0px 6px 0px rgba(224, 224, 224, 0.76);
  border-radius: 0px 23px 23px 0px;
  padding-left: 15px;
  font-size: 16px;
  font-weight: bold;
  color: #003173;
  top: 0;
}
.main-content .nav-bar ul li .btn-drop {
  display: none;
  position: absolute;
  top: 9.5px;
  right: 3px;
  cursor: pointer;
  transition: .2s;
  width: 20px;
  text-align: center;
}
.main-content .nav-bar ul li .btn-drop::after {
  content: "\f105";
  font-family: "fontawesome";
}
.main-content .nav-bar ul li .btn-drop:hover {
  color: #D06D80;
}
.main-content .nav-bar ul li .btn-drop.active {
  transform: rotateZ(90deg);
}
.main-content .nav-bar ul li .drop-child {
  height: 0;
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
  transition: .4s ease-out;
  display: none;
  border-top: 1px solid #E3E3E3;
}
.main-content .nav-bar ul li .drop-child.show-drop {
  height: auto;
  opacity: 1;
  visibility: visible;
  transition: .4s ease-out;
  padding: 3px 0px 3px 5px;
}
.main-content .nav-bar ul li .drop-child.show-drop li {
  padding: 10px 0px;
}
.main-content .nav-bar ul li .drop-child li {
  border-bottom: unset;
  padding: 0px;
}
.main-content .nav-bar ul li .drop-child li::before {
  display: none;
}
.main-content .nav-bar ul li .drop-child li:hover {
  background: #D6E3F2;
}
.main-content .nav-bar ul li .drop-child li a {
  font-size: 14px;
  text-transform: capitalize;
  color: #333;
}
.main-content .nav-bar .bars-mn {
  position: fixed;
  left: 14px;
  bottom: 32px;
  transition: .3s ease-out;
}
@media only screen and (min-width: 1800px) {
  .main-content .nav-bar .bars-mn {
    bottom: 57px;
  }
}
.main-content .nav-bar .bars-mn.active_bar {
  left: 190px;
}
.main-content .nav-bar .bars-mn.stick-fix {
  bottom: 40px;
}
@media only screen and (max-width: 1089px) {
  .main-content .nav-bar .bars-mn {
    display: none;
  }
}
.main-content .nav-bar .bars-mn button {
  border: none;
  outline: none;
  background: transparent;
}
.main-content .nav-bar .close-nav-res {
  position: absolute;
  top: 0;
  right: -41px;
  display: none;
}
@media only screen and (max-width: 1089px) {
  .main-content .nav-bar .close-nav-res {
    display: block;
  }
}
.main-content .nav-bar .close-nav-res button {
  width: 40px;
  height: 40px;
  background: #0E5DBA;
  color: #fff;
  border: none;
  outline: none;
}
.main-content .main-chart {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.main-content .main-chart .col-12:nth-child(1) .home-chart-box {
  height: 415px;
}
@media only screen and (max-width: 1090px) {
  .main-content .main-chart .col-12:nth-child(1) .home-chart-box {
    height: auto;
  }
}
.main-content .main-chart .col-12:nth-child(2) .home-chart-box {
  height: 415px;
}
@media only screen and (max-width: 1090px) {
  .main-content .main-chart .col-12:nth-child(2) .home-chart-box {
    height: auto;
  }
}
@media only screen and (max-width: 2000px) {
  .main-content .main-chart {
    padding: 50px;
  }
}
@media only screen and (max-width: 1600px) {
  .main-content .main-chart {
    padding: 15px;
  }
}
@media only screen and (max-width: 1090px) {
  .main-content .main-chart {
    padding: 20px;
  }
}
@media only screen and (max-width: 668px) {
  .main-content .main-chart {
    padding: unset;
  }
}
.main-content .home-chart-box {
  -webkit-box-shadow: 0px 0px 15px 1px rgba(229, 229, 229, 0.73);
  box-shadow: 0px 0px 15px 1px rgba(229, 229, 229, 0.73);
  margin-bottom: 30px;
}
.main-content .home-chart-box .row .has-pd {
  padding: 20px 0px;
}
.main-content .home-chart-box .row .col-lg-7 {
  padding-bottom: 42px;
  padding-top: 30px;
}
.main-content .home-chart-box .title-chart {
  background: #D6E3F2;
  padding: 15px 0px 15px 25px;
}
.main-content .home-chart-box .title-chart h4 {
  font-size: 16px;
  font-weight: bold;
  color: #333333;
}
.main-content .home-chart-box .first-pie {
  width: 275px;
  height: 275px;
  margin: auto;
  position: relative;
}
@media only screen and (max-width: 668px) {
  .main-content .home-chart-box .first-pie {
    width: 250px;
    height: 250px;
  }
}
.main-content .home-chart-box .first-pie canvas {
  margin: 20px 0px;
}
.main-content .home-chart-box .first-pie .count-bg-pie {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: -5;
}
.main-content .home-chart-box .first-pie .count-bg-pie span {
  font-size: 20px;
  color: #333;
  font-weight: bold;
}
.main-content .home-chart-box .first-pie .count-bg-pie h5 {
  font-size: 30px;
  font-weight: bold;
  color: #164396;
}
@media only screen and (max-width: 1090px) {
  .main-content .home-chart-box .second-pie {
    height: auto;
  }
}
.main-content .home-chart-box .second-pie canvas {
  padding: 20px 47px;
  height: 333px !important;
}
@media only screen and (max-width: 1090px) {
  .main-content .home-chart-box .second-pie canvas {
    padding: 20px 10px;
    height: auto;
  }
}
.main-content .home-chart-box .content-progress {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  background: #F9F9F9;
  padding: 40px 20px;
}
.main-content .home-chart-box .content-progress.has-pd-bt {
  padding-bottom: 75px;
}
.main-content .home-chart-box .content-progress .total-sus {
  flex: 0 0 34%;
  text-align: center;
}
.main-content .home-chart-box .content-progress .total-sus.title-bg {
  flex: 0 0 50%;
  text-align: left;
}
@media only screen and (max-width: 1090px) {
  .main-content .home-chart-box .content-progress .total-sus.title-bg {
    flex: 0 0 100%;
    padding-left: unset;
  }
}
.main-content .home-chart-box .content-progress .total-sus.title-bg .count {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.main-content .home-chart-box .content-progress .total-sus.title-bg .count h5 {
  font-size: 17px;
  font-weight: bold;
  color: #074D89;
  display: inline-block;
}
.main-content .home-chart-box .content-progress .total-sus.title-bg .count h5 span {
  display: inline-block;
}
.main-content .home-chart-box .content-progress .total-sus.title-bg .subs-content .info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.main-content .home-chart-box .content-progress .total-sus.title-bg .subs-content .info:nth-child(1) h4:before {
  background: #164396;
}
.main-content .home-chart-box .content-progress .total-sus.title-bg .subs-content .info:nth-child(2) h4:before {
  background: #00BCD5;
}
.main-content .home-chart-box .content-progress .total-sus.title-bg .subs-content .info:nth-child(3) h4:before {
  background: #FFA726;
}
.main-content .home-chart-box .content-progress .total-sus.title-bg .subs-content .info h4 {
  font-size: 14px;
  position: relative;
  padding-left: 20px;
}
.main-content .home-chart-box .content-progress .total-sus.title-bg .subs-content .info h4::before {
  content: "";
  position: absolute;
  width: 11px;
  height: 11px;
  border-radius: 100%;
  left: 0;
  top: 1.5px;
}
.main-content .home-chart-box .content-progress .total-sus.title-bg .subs-content .info span {
  font-size: 14px;
  font-size: 18px;
  padding-bottom: unset;
}
.main-content .home-chart-box .content-progress .total-sus span {
  font-size: 16px;
  color: #094E88;
  display: block;
  padding-bottom: 10px;
}
.main-content .home-chart-box .content-progress .total-sus h4 {
  font-size: 36px;
  font-weight: bold;
  color: #094E88;
}
@media only screen and (max-width: 1090px) {
  .main-content .home-chart-box .content-progress .total-sus {
    flex: 0 0 100%;
  }
}
.main-content .home-chart-box .content-progress .progress-content {
  flex: 0 0 66%;
  padding-left: 20px;
}
.main-content .home-chart-box .content-progress .progress-content.progress-bg {
  flex: 0 0 50%;
}
@media only screen and (max-width: 1090px) {
  .main-content .home-chart-box .content-progress .progress-content.progress-bg {
    flex: 0 0 100%;
    padding-left: unset;
    margin: auto;
  }
}
@media only screen and (max-width: 1090px) {
  .main-content .home-chart-box .content-progress .progress-content {
    flex: 0 0 100%;
    padding-left: unset;
  }
}
.main-content .home-chart-box .content-progress .progress-content .pie-sm {
  width: 262px;
  position: absolute;
  right: -33px;
}
.main-content .home-chart-box .content-progress .progress-content .pie-sm .count-sm-pie {
  font-size: 15px;
  display: block;
  font-weight: bold;
  color: #094E88;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;
}
@media only screen and (max-width: 1090px) {
  .main-content .home-chart-box .content-progress .progress-content .pie-sm {
    position: relative;
    right: unset;
    margin: auto;
    margin-top: 20px;
  }
}
.main-content .home-chart-box .content-progress .progress-content .progress-box {
  padding-bottom: 12px;
}
.main-content .home-chart-box .content-progress .progress-content .progress-box .title {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.main-content .home-chart-box .content-progress .progress-content .progress-box .title label {
  font-size: 16px;
  color: #094E88;
}
.main-content .home-chart-box .content-progress .progress-content .progress-box .title span {
  font-size: 16px;
  color: #094E88;
}
.main-content .home-chart-box .content-progress .progress-content .progress-box .progress {
  height: 12px;
  background: #E2E2E2;
  border-radius: 6.5px;
}
.main-content .home-chart-box .content-progress .progress-content .progress-box .progress .progress-bar {
  width: 0;
}
.main-content .home-chart-box .content-progress .progress-content .progress-box .progress .progress-bar.cl-1 {
  background: #FFA726;
}
.main-content .home-chart-box .content-progress .progress-content .progress-box .progress .progress-bar.cl-2 {
  background: #2196F3;
}
.main-content .home-chart-box .content-progress .progress-content .progress-box .progress .progress-bar.cl-3 {
  background: #3DB6EC;
}
.main-content .home-chart-box .content-progress .progress-content .progress-box .progress .progress-bar.cl-4 {
  background: #FF5C24;
}
.main-content .home-chart-box .content-progress .progress-content .progress-box .progress .progress-bar.cl-5 {
  background: #164396;
}
.main-content .home-chart-box .sub-for-pie {
  height: 100%;
  display: flex;
  background: #F9F9F9;
  justify-content: center;
  flex-direction: column;
  padding: 0px 15px;
}
.main-content .home-chart-box .sub-for-pie .content-sub {
  display: flex;
  flex-wrap: wrap;
  padding: 20px 0px;
  justify-content: center;
  flex-direction: column;
}
.main-content .home-chart-box .sub-for-pie .content-sub .info {
  flex: 0 0 33.33%;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.main-content .home-chart-box .sub-for-pie .content-sub .info h4 {
  display: block;
  font-size: 14px;
  position: relative;
  padding-left: 15px;
}
.main-content .home-chart-box .sub-for-pie .content-sub .info h4::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background: red;
  border-radius: 100%;
  left: 0;
  top: 2.5px;
}
.main-content .home-chart-box .sub-for-pie .content-sub .info:nth-child(1) h4::before {
  background: #164396;
}
.main-content .home-chart-box .sub-for-pie .content-sub .info:nth-child(2) h4::before {
  background: #0061AE;
}
.main-content .home-chart-box .sub-for-pie .content-sub .info:nth-child(3) h4::before {
  background: #FFB100;
}
.main-content .home-chart-box .sub-for-pie .content-sub .info:nth-child(4) h4::before {
  background: #A3C857;
}
.main-content .home-chart-box .sub-for-pie .content-sub .info:nth-child(5) h4::before {
  background: #90D5E4;
}
.main-content .home-chart-box .sub-for-pie .content-sub .info:nth-child(6) h4::before {
  background: #3DB6EC;
}
.main-content .home-chart-box .sub-for-pie .content-sub .info span {
  font-size: 17px;
  color: #164396;
  padding-left: 10px;
}
@media only screen and (max-width: 1000px) {
  .main-content .home-chart-box .sub-for-pie .content-sub .info {
    flex: 0 0 100%;
  }
}
.main-content .home-chart-box .sub-for-bars {
  padding-bottom: 10px;
}
.main-content .home-chart-box .sub-for-bars .content-sub {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.main-content .home-chart-box .sub-for-bars .content-sub .infor {
  padding: 0px 6.5px;
}
.main-content .home-chart-box .sub-for-bars .content-sub .infor h4 {
  font-size: 14px;
  display: inline-block;
  position: relative;
  padding-left: 18px;
}
.main-content .home-chart-box .sub-for-bars .content-sub .infor h4::before {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  left: 0;
  top: 2px;
}
.main-content .home-chart-box .sub-for-bars .content-sub .infor:nth-child(1) h4::before {
  background: #164396;
}
.main-content .home-chart-box .sub-for-bars .content-sub .infor:nth-child(2) h4::before {
  background: #2196F3;
}
.main-content .home-chart-box .sub-for-bars .content-sub .infor:nth-child(3) h4::before {
  background: #FFA726;
}

.footer {
  background: #003173;
  padding: 3px 0px;
  text-align: right;
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
}
.footer span {
  font-size: 12px;
  color: #fff;
  padding-right: 30px;
  font-style: italic;
}

.add-new-content-box {
  border-top: 1px solid #C6C6C6;
  border-left: 1px solid #DBDBDB;
  border-radius: 2px 0px 0px 0px;
  -webkit-box-shadow: 0px 0px 3px 1px rgba(117, 117, 117, 0.35);
  box-shadow: 0px 0px 3px 1px rgba(117, 117, 117, 0.35);
  border-radius: 3px;
  margin-top: 10px;
  height: 100%;
}
.add-new-content-box .action {
  display: flex;
  align-items: center;
  background: #EFEEEE;
  flex-wrap: wrap;
  padding: 10px;
}
.add-new-content-box .action button, .add-new-content-box .action a {
  background: #0E5DBA;
  border: none;
  outline: none;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  display: inline-flex;
  align-items: center;
  width: max-content;
  height: 27px;
  padding: 4px 10px;
  margin-right: 5px;
  transition: .3s ease-out;
}
.add-new-content-box .action button:hover, .add-new-content-box .action a:hover {
  background: #1492E6;
}
@media only screen and (max-width: 688px) {
  .add-new-content-box .action button, .add-new-content-box .action a {
    flex: 0 0 100%;
    margin-top: 10px;
  }
  .add-new-content-box .action button:first-child, .add-new-content-box .action a:first-child {
    margin-top: unset;
  }
}
.add-new-content-box .action button img, .add-new-content-box .action a img {
  padding-right: 4px;
}
.add-new-content-box .action button:last-child, .add-new-content-box .action a:last-child {
  margin-right: unset;
}
.add-new-content-box .add-new-title {
  background: #fff;
  padding: 10px;
  cursor: pointer;
}
.add-new-content-box .add-new-title.active_add h4 img {
  transform: rotateZ(180deg);
}
.add-new-content-box .add-new-title.has-bd {
  border-bottom: 2px solid #DDDDDD;
}
.add-new-content-box .add-new-title h4 {
  font-size: 18px;
  font-weight: bold;
  color: #333333;
}
.add-new-content-box .form-ct {
  padding: 20px 54px 30px 3px;
  background: #F9F9F9;
  border-bottom: 2px solid #DDDDDD;
}
.add-new-content-box .form-ct select {
  background: #fff;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("../images/dr.svg");
  background-position: right .45em top 50%;
  background-size: 10px 10px;
  background-repeat: no-repeat;
  padding-right: 1.4em;
  border-radius: 0;
  padding-left: 0.74em;
}
@media only screen and (max-width: 688px) {
  .add-new-content-box .form-ct {
    padding: 10px;
  }
}
.add-new-content-box .form-ct .flex-s {
  display: flex;
  flex-wrap: wrap;
}
.add-new-content-box .form-ct .flex-s.cus-w {
  max-width: 1090px;
}
.add-new-content-box .form-ct .flex-s:last-child {
  padding-top: 10px;
}
.add-new-content-box .form-ct .flex-s .input-box {
  padding-bottom: 7px;
}
.add-new-content-box .form-ct .flex-s .input-box label {
  display: block;
  font-size: 14px;
}
.add-new-content-box .form-ct .flex-s .input-box label span {
  color: #FF2323;
}
.add-new-content-box .form-ct .flex-s .input-box input {
  width: 100%;
  height: 30px;
  border: 1px solid #CACACA;
  outline: none;
  border-radius: 5px;
}
.add-new-content-box .form-ct .flex-s .input-box input:focus {
  border: 1px solid #2680EB;
}
.add-new-content-box .form-ct .flex-s .input-box-s {
  padding-bottom: 7px;
}
.add-new-content-box .form-ct .flex-s .input-box-s label {
  display: block;
  font-size: 14px;
}
.add-new-content-box .form-ct .flex-s .input-box-s input {
  width: 100%;
  height: 30px;
  border: 1px solid #CACACA;
  outline: none;
  border-radius: 5px;
}
.add-new-content-box .form-ct .flex-s .input-box-s input:focus {
  border: 1px solid #2680EB;
}
.add-new-content-box .form-ct .flex-s .input-box-s select {
  width: 100%;
  height: 30px;
  border: 1px solid #CACACA;
  outline: none;
  border-radius: 5px;
}
.add-new-content-box .form-ct .flex-s .input-box-s select:focus {
  border: 1px solid #2680EB;
}
.add-new-content-box .form-ct .flex-s .input-box-m {
  padding-bottom: 7px;
}
.add-new-content-box .form-ct .flex-s .input-box-m label {
  display: block;
  font-size: 14px;
}
.add-new-content-box .form-ct .flex-s .input-box-m label span {
  color: #FF2323;
}
.add-new-content-box .form-ct .flex-s .input-box-m input {
  width: 100%;
  height: 30px;
  border: 1px solid #CACACA;
  outline: none;
  border-radius: 5px;
}
.add-new-content-box .form-ct .flex-s .input-box-m input:focus {
  border: 1px solid #2680EB;
}
.add-new-content-box .form-ct .flex-s .input-box-m input[type="checkbox"] {
  width: 18px;
  height: 18px;
  margin-right: 4px;
}
.add-new-content-box .form-ct .flex-s .input-box-n {
  padding-bottom: 7px;
}
.add-new-content-box .form-ct .flex-s .input-box-n label {
  display: block;
  font-size: 14px;
}
.add-new-content-box .form-ct .flex-s .input-box-n label span {
  color: #FF2323;
}
.add-new-content-box .form-ct .flex-s .input-box-n input {
  width: 100%;
  height: 30px;
  border: 1px solid #CACACA;
  outline: none;
  border-radius: 5px;
}
.add-new-content-box .form-ct .flex-s .input-box-n input:focus {
  border: 1px solid #2680EB;
}
.add-new-content-box .form-ct .flex-s .input-box-n input[type="checkbox"] {
  width: 18px;
  height: 18px;
  margin-right: 4px;
}
.add-new-content-box .form-ct .flex-s .input-box-k {
  padding-bottom: 7px;
}
.add-new-content-box .form-ct .flex-s .input-box-k label {
  display: block;
  font-size: 14px;
}
.add-new-content-box .form-ct .flex-s .input-box-k label span {
  color: #FF2323;
}
.add-new-content-box .form-ct .flex-s .input-box-k input {
  width: 100%;
  height: 30px;
  border: 1px solid #CACACA;
  outline: none;
  border-radius: 5px;
}
.add-new-content-box .form-ct .flex-s .input-box-k input:focus {
  border: 1px solid #2680EB;
}
.add-new-content-box .form-ct .flex-s .input-box-k input[type="checkbox"] {
  width: 18px;
  height: 18px;
  margin-right: 4px;
}
.add-new-content-box .form-ct .flex-s .input-box-h {
  padding-bottom: 7px;
}
.add-new-content-box .form-ct .flex-s .input-box-h label {
  display: block;
  font-size: 14px;
}
.add-new-content-box .form-ct .flex-s .input-box-h label span {
  color: #FF2323;
}
.add-new-content-box .form-ct .flex-s .input-box-h input {
  width: 100%;
  height: 30px;
  border: 1px solid #CACACA;
  outline: none;
  border-radius: 5px;
}
.add-new-content-box .form-ct .flex-s .input-box-h input:focus {
  border: 1px solid #2680EB;
}
.add-new-content-box .form-ct .flex-s .input-box-h input[type="checkbox"] {
  width: 18px;
  height: 18px;
  margin-right: 4px;
}
.add-new-content-box .form-ct .flex-s .input-box-h select {
  width: 100%;
  height: 30px;
  border: 1px solid #CACACA;
  outline: none;
  border-radius: 5px;
}
.add-new-content-box .form-ct .flex-s .input-box-h select:focus {
  border: 1px solid #2680EB;
}
.add-new-content-box .form-ct .flex-s .input-box-t {
  padding-bottom: 7px;
}
.add-new-content-box .form-ct .flex-s .input-box-t label {
  display: block;
  font-size: 14px;
}
.add-new-content-box .form-ct .flex-s .input-box-t label span {
  color: #FF2323;
}
.add-new-content-box .form-ct .flex-s .input-box-t input {
  width: 100%;
  height: 30px;
  border: 1px solid #CACACA;
  outline: none;
  border-radius: 5px;
}
.add-new-content-box .form-ct .flex-s .input-box-t input:focus {
  border: 1px solid #2680EB;
}
.add-new-content-box .form-ct .flex-s:first-child .input-box {
  padding: 0px 7.5px;
}
.add-new-content-box .form-ct .flex-s:first-child .input-box:nth-child(1) {
  flex: 0 0 12%;
}
@media only screen and (max-width: 886px) {
  .add-new-content-box .form-ct .flex-s:first-child .input-box:nth-child(1) {
    flex: 0 0 100%;
  }
}
.add-new-content-box .form-ct .flex-s:first-child .input-box:nth-child(2) {
  flex: 0 0 63%;
}
@media only screen and (max-width: 886px) {
  .add-new-content-box .form-ct .flex-s:first-child .input-box:nth-child(2) {
    flex: 0 0 100%;
  }
}
.add-new-content-box .form-ct .flex-s:first-child .input-box:nth-child(3) {
  flex: 0 0 25%;
}
@media only screen and (max-width: 886px) {
  .add-new-content-box .form-ct .flex-s:first-child .input-box:nth-child(3) {
    flex: 0 0 100%;
  }
}
.add-new-content-box .form-ct .flex-s:first-child .input-box-s {
  padding: 0px 7.5px;
}
.add-new-content-box .form-ct .flex-s:first-child .input-box-s:nth-child(1) {
  flex: 0 0 13%;
}
@media only screen and (max-width: 886px) {
  .add-new-content-box .form-ct .flex-s:first-child .input-box-s:nth-child(1) {
    flex: 0 0 100%;
  }
}
.add-new-content-box .form-ct .flex-s:first-child .input-box-s:nth-child(2) {
  flex: 0 0 13%;
}
@media only screen and (max-width: 886px) {
  .add-new-content-box .form-ct .flex-s:first-child .input-box-s:nth-child(2) {
    flex: 0 0 100%;
  }
}
.add-new-content-box .form-ct .flex-s:first-child .input-box-s:nth-child(3) {
  flex: 0 0 27.5%;
}
@media only screen and (max-width: 886px) {
  .add-new-content-box .form-ct .flex-s:first-child .input-box-s:nth-child(3) {
    flex: 0 0 100%;
  }
}
.add-new-content-box .form-ct .flex-s:first-child .input-box-s:nth-child(4) {
  flex: 0 0 27.5%;
}
@media only screen and (max-width: 886px) {
  .add-new-content-box .form-ct .flex-s:first-child .input-box-s:nth-child(4) {
    flex: 0 0 100%;
  }
}
.add-new-content-box .form-ct .flex-s:first-child .input-box-s:nth-child(5) {
  flex: 0 0 19%;
}
@media only screen and (max-width: 886px) {
  .add-new-content-box .form-ct .flex-s:first-child .input-box-s:nth-child(5) {
    flex: 0 0 100%;
  }
}
.add-new-content-box .form-ct .flex-s:first-child .input-box-m {
  padding: 0px 7.5px;
}
.add-new-content-box .form-ct .flex-s:first-child .input-box-m:nth-child(1) {
  flex: 0 0 13%;
}
@media only screen and (max-width: 886px) {
  .add-new-content-box .form-ct .flex-s:first-child .input-box-m:nth-child(1) {
    flex: 0 0 100%;
  }
}
.add-new-content-box .form-ct .flex-s:first-child .input-box-m:nth-child(2) {
  flex: 0 0 65%;
}
@media only screen and (max-width: 886px) {
  .add-new-content-box .form-ct .flex-s:first-child .input-box-m:nth-child(2) {
    flex: 0 0 100%;
  }
}
.add-new-content-box .form-ct .flex-s:first-child .input-box-m:nth-child(3) {
  flex: 0 0 22%;
}
@media only screen and (max-width: 886px) {
  .add-new-content-box .form-ct .flex-s:first-child .input-box-m:nth-child(3) {
    flex: 0 0 100%;
  }
}
.add-new-content-box .form-ct .flex-s:first-child .input-box-n {
  padding: 0px 7.5px;
}
.add-new-content-box .form-ct .flex-s:first-child .input-box-n:nth-child(1) {
  flex: 0 0 33.33%;
}
@media only screen and (max-width: 886px) {
  .add-new-content-box .form-ct .flex-s:first-child .input-box-n:nth-child(1) {
    flex: 0 0 100%;
  }
}
.add-new-content-box .form-ct .flex-s:first-child .input-box-n:nth-child(2) {
  flex: 0 0 33.33%;
}
@media only screen and (max-width: 886px) {
  .add-new-content-box .form-ct .flex-s:first-child .input-box-n:nth-child(2) {
    flex: 0 0 100%;
  }
}
.add-new-content-box .form-ct .flex-s:first-child .input-box-n:nth-child(3) {
  flex: 0 0 33.33%;
}
@media only screen and (max-width: 886px) {
  .add-new-content-box .form-ct .flex-s:first-child .input-box-n:nth-child(3) {
    flex: 0 0 100%;
  }
}
.add-new-content-box .form-ct .flex-s:first-child .input-box-k {
  padding: 0px 7.5px;
}
.add-new-content-box .form-ct .flex-s:first-child .input-box-k:nth-child(1) {
  flex: 0 0 45%;
}
@media only screen and (max-width: 886px) {
  .add-new-content-box .form-ct .flex-s:first-child .input-box-k:nth-child(1) {
    flex: 0 0 100%;
  }
}
.add-new-content-box .form-ct .flex-s:first-child .input-box-k:nth-child(2) {
  flex: 0 0 15%;
}
@media only screen and (max-width: 886px) {
  .add-new-content-box .form-ct .flex-s:first-child .input-box-k:nth-child(2) {
    flex: 0 0 100%;
  }
}
.add-new-content-box .form-ct .flex-s:first-child .input-box-k:nth-child(3) {
  flex: 0 0 10%;
}
@media only screen and (max-width: 886px) {
  .add-new-content-box .form-ct .flex-s:first-child .input-box-k:nth-child(3) {
    flex: 0 0 100%;
  }
}
.add-new-content-box .form-ct .flex-s:first-child .input-box-k:nth-child(4) {
  flex: 0 0 10%;
}
@media only screen and (max-width: 886px) {
  .add-new-content-box .form-ct .flex-s:first-child .input-box-k:nth-child(4) {
    flex: 0 0 100%;
  }
}
.add-new-content-box .form-ct .flex-s:first-child .input-box-k:nth-child(5) {
  flex: 0 0 10%;
}
@media only screen and (max-width: 886px) {
  .add-new-content-box .form-ct .flex-s:first-child .input-box-k:nth-child(5) {
    flex: 0 0 100%;
  }
}
.add-new-content-box .form-ct .flex-s:first-child .input-box-k:nth-child(6) {
  flex: 0 0 10%;
  align-self: flex-end;
}
@media only screen and (max-width: 886px) {
  .add-new-content-box .form-ct .flex-s:first-child .input-box-k:nth-child(6) {
    flex: 0 0 100%;
  }
}
.add-new-content-box .form-ct .flex-s:first-child .input-box-h {
  padding: 0px 7.5px;
}
.add-new-content-box .form-ct .flex-s:first-child .input-box-h:nth-child(1) {
  flex: 0 0 18%;
}
@media only screen and (max-width: 886px) {
  .add-new-content-box .form-ct .flex-s:first-child .input-box-h:nth-child(1) {
    flex: 0 0 100%;
  }
}
.add-new-content-box .form-ct .flex-s:first-child .input-box-h:nth-child(2) {
  flex: 0 0 28%;
}
@media only screen and (max-width: 886px) {
  .add-new-content-box .form-ct .flex-s:first-child .input-box-h:nth-child(2) {
    flex: 0 0 100%;
  }
}
.add-new-content-box .form-ct .flex-s:first-child .input-box-h:nth-child(3) {
  flex: 0 0 28%;
}
@media only screen and (max-width: 886px) {
  .add-new-content-box .form-ct .flex-s:first-child .input-box-h:nth-child(3) {
    flex: 0 0 100%;
  }
}
.add-new-content-box .form-ct .flex-s:first-child .input-box-h:nth-child(4) {
  flex: 0 0 13%;
  align-self: flex-end;
  display: flex;
}
.add-new-content-box .form-ct .flex-s:first-child .input-box-h:nth-child(4) label {
  display: inline-block;
}
@media only screen and (max-width: 886px) {
  .add-new-content-box .form-ct .flex-s:first-child .input-box-h:nth-child(4) {
    flex: 0 0 100%;
  }
}
.add-new-content-box .form-ct .flex-s:first-child .input-box-h:nth-child(5) {
  flex: 0 0 13%;
  align-self: flex-end;
}
@media only screen and (max-width: 886px) {
  .add-new-content-box .form-ct .flex-s:first-child .input-box-h:nth-child(5) {
    flex: 0 0 100%;
  }
}
.add-new-content-box .form-ct .flex-s:first-child .input-box-t {
  flex: 0 0 25%;
  padding: 0px 7.5px;
}
@media only screen and (max-width: 886px) {
  .add-new-content-box .form-ct .flex-s:first-child .input-box-t {
    flex: 0 0 100%;
  }
}
.add-new-content-box .form-ct .flex-s:nth-child(2) {
  padding-top: 10px;
}
.add-new-content-box .form-ct .flex-s:nth-child(2) .input-box-m {
  padding: 0px 7.5px;
}
.add-new-content-box .form-ct .flex-s:nth-child(2) .input-box-m:nth-child(1) {
  flex: 0 0 26%;
}
@media only screen and (max-width: 886px) {
  .add-new-content-box .form-ct .flex-s:nth-child(2) .input-box-m:nth-child(1) {
    flex: 0 0 100%;
  }
}
.add-new-content-box .form-ct .flex-s:nth-child(2) .input-box-m:nth-child(2) {
  flex: 0 0 26%;
}
@media only screen and (max-width: 886px) {
  .add-new-content-box .form-ct .flex-s:nth-child(2) .input-box-m:nth-child(2) {
    flex: 0 0 100%;
  }
}
.add-new-content-box .form-ct .flex-s:nth-child(2) .input-box-m:nth-child(3) {
  flex: 0 0 26%;
}
@media only screen and (max-width: 886px) {
  .add-new-content-box .form-ct .flex-s:nth-child(2) .input-box-m:nth-child(3) {
    flex: 0 0 100%;
  }
}
.add-new-content-box .form-ct .flex-s:nth-child(2) .input-box-m:nth-child(4) {
  flex: 0 0 22%;
}
@media only screen and (max-width: 886px) {
  .add-new-content-box .form-ct .flex-s:nth-child(2) .input-box-m:nth-child(4) {
    flex: 0 0 100%;
  }
}
.add-new-content-box .form-ct .flex-s:last-child .input-box {
  padding: 0px 7.5px;
  flex: 0 0 25%;
}
@media only screen and (max-width: 886px) {
  .add-new-content-box .form-ct .flex-s:last-child .input-box {
    flex: 0 0 100%;
  }
}
.add-new-content-box .form-ct .flex-s:last-child .input-box:nth-child(1) {
  margin-left: unset;
}
.add-new-content-box .form-ct .flex-s:last-child .input-box-s {
  padding: 0px 7.5px;
}
.add-new-content-box .form-ct .flex-s:last-child .input-box-s:nth-child(1) {
  flex: 0 0 13%;
}
@media only screen and (max-width: 886px) {
  .add-new-content-box .form-ct .flex-s:last-child .input-box-s:nth-child(1) {
    flex: 0 0 100%;
  }
}
.add-new-content-box .form-ct .flex-s:last-child .input-box-s:nth-child(2) {
  flex: 0 0 13%;
}
@media only screen and (max-width: 886px) {
  .add-new-content-box .form-ct .flex-s:last-child .input-box-s:nth-child(2) {
    flex: 0 0 100%;
  }
}
.add-new-content-box .form-ct .flex-s:last-child .input-box-s:nth-child(3) {
  flex: 0 0 74%;
}
@media only screen and (max-width: 886px) {
  .add-new-content-box .form-ct .flex-s:last-child .input-box-s:nth-child(3) {
    flex: 0 0 100%;
  }
}
.add-new-content-box .form-ct .flex-s:last-child .input-box-m {
  padding: 0px 7.5px;
}
.add-new-content-box .form-ct .flex-s:last-child .input-box-m:nth-child(1) {
  flex: 0 0 26%;
}
@media only screen and (max-width: 886px) {
  .add-new-content-box .form-ct .flex-s:last-child .input-box-m:nth-child(1) {
    flex: 0 0 100%;
  }
}
.add-new-content-box .form-ct .flex-s:last-child .input-box-m:nth-child(2) {
  flex: 0 0 52%;
}
@media only screen and (max-width: 886px) {
  .add-new-content-box .form-ct .flex-s:last-child .input-box-m:nth-child(2) {
    flex: 0 0 100%;
  }
}
.add-new-content-box .form-ct .flex-s:last-child .input-box-m:nth-child(3) {
  flex: 0 0 22%;
}
@media only screen and (max-width: 886px) {
  .add-new-content-box .form-ct .flex-s:last-child .input-box-m:nth-child(3) {
    flex: 0 0 100%;
  }
}
.add-new-content-box .form-ct .flex-s:last-child .input-box-n {
  padding: 0px 7.5px;
}
.add-new-content-box .form-ct .flex-s:last-child .input-box-n:nth-child(1) {
  flex: 0 0 33.33%;
}
@media only screen and (max-width: 886px) {
  .add-new-content-box .form-ct .flex-s:last-child .input-box-n:nth-child(1) {
    flex: 0 0 100%;
  }
}
.add-new-content-box .form-ct .flex-s:last-child .input-box-n:nth-child(2) {
  flex: 0 0 66.67%;
}
@media only screen and (max-width: 886px) {
  .add-new-content-box .form-ct .flex-s:last-child .input-box-n:nth-child(2) {
    flex: 0 0 100%;
  }
}
.add-new-content-box .form-ct .flex-s:last-child .input-box-t {
  flex: 0 0 25%;
  padding: 0px 7.5px;
}
@media only screen and (max-width: 886px) {
  .add-new-content-box .form-ct .flex-s:last-child .input-box-t {
    flex: 0 0 100%;
  }
}
.add-new-content-box .form-ct .btn-search-box button {
  background: #0E5DBA;
  border: none;
  outline: none;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  display: inline-flex;
  align-items: center;
  width: max-content;
  height: 30px;
  padding: 4px 10px;
  margin-right: 5px;
  transition: .3s ease-out;
}
.add-new-content-box .form-ct .btn-search-box button:hover {
  background: #1492E6;
}
@media only screen and (max-width: 886px) {
  .add-new-content-box .form-ct .btn-search-box button {
    margin-right: unset;
    margin-top: 10px;
    width: 100%;
  }
}
.add-new-content-box .form-ct .btn-search-box button img {
  padding-right: 4px;
}
.add-new-content-box .form-ct .btn-search-box button:last-child {
  margin-right: unset;
}
.add-new-content-box .form-ct .row.no-gutters {
  margin-left: -5px;
  margin-right: -5px;
}
.add-new-content-box .form-ct .row.no-gutters > .col, .add-new-content-box .form-ct .row.no-gutters > [class*="col-"] {
  padding-left: 5px;
  padding-right: 5px;
}
.add-new-content-box .tabs-box {
  padding-bottom: 10px;
}
.add-new-content-box .tabs-box .nav-tabs {
  border: none;
  margin: 15px 0px 0px 10px;
  border-bottom: 2px solid #DDDDDD;
}
.add-new-content-box .tabs-box .nav-tabs .nav-link {
  padding: 5px 15px;
  border: 1px solid #E2E2E2;
  border-bottom: unset;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.add-new-content-box .tabs-box .nav-tabs .nav-link:hover {
  color: #fff;
  background: #084788;
}
.add-new-content-box .tabs-box .nav-tabs .nav-item.show .nav-link, .add-new-content-box .tabs-box .nav-tabs .nav-link.active {
  color: #fff;
  background: #084788;
  border-color: #E2E2E2;
}
.add-new-content-box .subgroup-box {
  padding: 13px 40px;
}
@media only screen and (max-width: 1089px) {
  .add-new-content-box .subgroup-box {
    padding: 25px 15px;
  }
}
.add-new-content-box .subgroup-box .row.no-gutters > .col, .add-new-content-box .subgroup-box .row.no-gutters > [class*=col-] {
  padding-right: 7.5px;
  padding-left: 7.5px;
}
.add-new-content-box .subgroup-box .row.no-gutters {
  margin-left: -7.5px;
  margin-right: -7.5px;
}
.add-new-content-box .subgroup-box .subgroup-content {
  -webkit-box-shadow: 0px 0px 6px 0px rgba(218, 218, 218, 0.56);
  box-shadow: 0px 0px 6px 0px rgba(218, 218, 218, 0.56);
  border-radius: 3px;
  margin-bottom: 15px;
}
.add-new-content-box .subgroup-box .subgroup-content .title {
  background: #EFEEEE;
  padding: 10px 0px 10px 25px;
}
.add-new-content-box .subgroup-box .subgroup-content .title h4 {
  font-size: 16px;
  font-weight: bold;
}
.add-new-content-box .subgroup-box .subgroup-content .content-box {
  padding: 10px 30px 30px 15px;
}
.add-new-content-box .subgroup-box .subgroup-content .content-box ul {
  border: 1px solid #F6F9FB;
}
.add-new-content-box .subgroup-box .subgroup-content .content-box ul li {
  font-size: 14px;
  color: #333;
  width: 100%;
  padding: 7px 0px 7px 20px;
}
.add-new-content-box .subgroup-box .subgroup-content .content-box ul li:nth-child(odd) {
  background: #F6F9FB;
}

.error-pages {
  height: 100vh;
  overflow-y: hidden;
}
.error-pages .error-box {
  width: 100vw;
  height: 85%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.error-pages .error-box .notify-error {
  margin-right: 15px;
}
.error-pages .error-box .notify-error img {
  height: 155px;
}
.error-pages .error-box .text-error {
  align-self: center;
  padding-bottom: 13px;
}
.error-pages .error-box .text-error h3 {
  font-size: 60px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1;
}
.error-pages .error-box .text-error p {
  font-size: 14px;
  font-weight: bold;
}
.error-pages .error-box .text-error button {
  border: none;
  outline: none;
  border-radius: 5px;
  background: #0E5DBA;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  padding: 4px 15px;
  margin-top: 6px;
  transition: .3s ease-out;
}
.error-pages .error-box .text-error button:hover {
  background: #1492E6;
}
.error-pages .footer {
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
}
